@import '../base/_var.scss';
@import '../mixin/_fontStyle.scss';
@import '../mixin/_breakpoint.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// ham //
#ham {
    width: 35px;
    height: 16px;
    position: fixed;
    top: 70px;
    left: 90px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 99;
    // border: 1px solid red;

    span {
        display: block;
        position: absolute;
        height: 2px;
        border-radius: 5px;
        background-color: rgba(239, 239, 239, .9);
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            width: 100%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 7px;
            width: 50%;
        }

        &:nth-child(4) {
            
            top: 14px;
            width: 80%;
        }
    }

    &:hover {
        cursor: pointer;

        span {
            background-color: $lightGold;

            &:nth-child(2),
            &:nth-child(3) {
                width: 90%;
            }
        }
    }
}

#ham.open span {
    &:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
    }

    &:nth-child(2) {
        width: 100%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:nth-child(3) {
        width: 100%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
    }
}

@include s-pad(){
    #ham{
        left: 60px;
    }
}
@include l-phone(){
    #ham{
        top:60px;
        left: 30px;
    }
}
@include s-phone(){
    #ham{
        top:45px;
        left: 20px;
    }
}

// ham


// logo
#logoBox {
    // border:1px solid red;
    width: 200px;
    height: 100px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-52%);
    z-index: 99;
    overflow: hidden;
    // border: 1px solid red;

    a {
        display: block;
        // border: 1px solid red;
        position: absolute;
        width: 100%;
        height: 100%;

        svg {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
}

@include l-phone(){
    #logoBox {
        width: 180px;
    }
}
@include s-phone(){
    #logoBox {
        top: 0px;
        width: 140px;
    }
}

// logo

// sideNav
.inCorner {
    // border: 1px solid red;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 98;

    li {
        margin-right: 25px;
        margin-bottom: 18px;

        a {
            @include font-style(14px, $CG, $white, 500) {
                // font-size: 14px;
                display: block;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                // border: 1px solid green;
            }

            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid $lightGold;
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                left: -100%;
            }

            &:hover {
                color: $lightGold;
                transition: color .4s;

                &::after {
                    left: 0;
                    transition: left .6s;
                }
            }
        }

        &:last-child {
            margin-right: 80px;
        }
    }
}

@include l-pad(){
    .inCorner{
        display: none;
    }
}

// sideNav

// menu
#menu {
    // border: 1px solid red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-flow: row;
    background-color: #1d1d1d;
    z-index: 97;
    display: none;

    .menuLeft {
        @include font-style(60px, $CG, $cofe, 600) {
            // border: 1px solid green;
            width: 15%;
            height: 100%;
            background-color: rgba($lightGold, .8);
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            display: flex;
            flex-flow: column;
            justify-content: flex-end;
            align-items: flex-end;
            position: relative;
            flex-shrink: 1;
            overflow: hidden;

            .menuLeftBack{
                position: absolute;
                left: 0;
                top:0;
                width: 100%;
                height: 100%;
                background-image: url("../image/back1.png");
                opacity: .1;
            }

            span {
                // border: 1px solid red;
                margin: 0 0 0 0;
                z-index: 3;
                position: absolute;
                bottom: 20px;
                left: -50px;

                p {
                    &:nth-child(1) {
                        font-size: 200px;
                        opacity: .2;
                    }

                    &:nth-child(2) {
                        font-size: 200px;
                        opacity: .2;
                        position: absolute;
                        top: -8px;
                        left: 0px;
                        color: transparent;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: $cofe;
                    }
                }
            }

            &::before {
                content: "";
                width: 100%;
                height: 125%;
                background-color: #1d1d1d;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateX(70%) translateY(-55%);
                border-radius: 100%;
                z-index: 4;
            }

            &::after {
                content: "";
                width: 100%;
                height: 125%;
                border-left: 5px solid rgba(#1d1d1d, .8);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateX(68%) translateY(-55%);
                border-radius: 100%;
                z-index: 4;
            }
        }
    }

    .menuMid {
        // border: 1px solid navy;
        width: 50%;
        height: 100%;
        position: relative;
        flex-shrink: 2;

        .menuList {
            // border: 1px solid red;
            width: 100%;
            height: 70%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            list-style: none;

            li {
                border-bottom: 2px solid lighten($grey5, 3);
                width: 100%;
                height: (100%/4);

                a {
                    @include font-style(90px, $CG, transparent, 600) {
                        // border: 1px solid gold;
                        // font-size: 90px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        width: 130%;
                        height: 100%;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: rgba($white, .6);
                        text-decoration: none;
                        // padding-left: 50px;
                    }

                    &:hover {
                        color: rgba($white, .8);
                        transition: color .4s;
                    }
                }
            }

        }

        .inMenu {
            // border: 1px solid red;
            list-style: none;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 40px;
            right: -60%;
            width: 100%;
            z-index: 98;

            li {
                margin-right: 40px;
                margin-bottom: 18px;
                &:last-child{
                    margin-right: 0;
                }

                a {
                    @include font-style(16px, $CG, $white, 500) {
                        // font-size: 14px;
                        display: block;
                        text-decoration: none;
                        position: relative;
                        overflow: hidden;
                        opacity: .8;
                    }

                    &::after {
                        content: "";
                        display: block;
                        border-bottom: 1px solid $lightGold;
                        width: 100%;
                        height: 0;
                        position: absolute;
                        bottom: 0;
                        left: -100%;
                    }

                    &:hover {
                        color: $lightGold;
                        transition: color .4s;

                        &::after {
                            left: 0;
                            transition: left .6s;
                        }
                    }
                }
            }
        }
    }

    .menuRight {
        // border: 1px solid gold;
        width: 35%;
        height: 100%;
        position: relative;
        flex-shrink: 2;

        .menuImgBox {
            // border: 1px solid deeppink;
            width: 100%;
            height: 70%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-45%) translateX(-12%);
            overflow: hidden;
            opacity: .7;

            .menuImg {
                position: absolute;
                top: 0;
                right: 0;
                // transform: translateY(-40px);
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

@include l-pad() {
    #menu {
        .menuRight {
            .menuImgBox {
                .menuImg {
                    top: 80px;
                }
            }
        }
    }
}

@include s-pad() {
    #menu {
        .menuLeft {
            width: 15%;
            flex-shrink: 2;

            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        .menuMid {
            width: 85%;
            flex-shrink: 1;

            .menuList {
                transform: translateY(-55%);
                li {
                    a {
                        font-size: 80px;
                        padding-left: 20px;
                    }
                }
            }

            .inMenu{
                bottom: 60px;
                right:0;
                justify-content: flex-start;
                padding-left: 20px;
            }
        }

        .menuRight {
            display: none;
        }
    }
}

@include l-phone() {
    #menu {
        .menuLeft {
            width: 10%;
        }

        .menuMid {
            width: 90%;

            .menuList {
                li {
                    a {
                        font-size: 60px;
                    }
                }
            }

            .inMenu{
                bottom: 50px;
            }
        }
    }
}

@include s-phone() {
    #menu {
        .menuLeft {
            width: 12%;
        }

        .menuMid {
            width: 88%;

            .menuList {
                li {
                    a {
                        font-size: 40px;
                    }
                }
            }

            .inMenu{
                bottom: 40px;
                li{
                    margin-right: 30px;
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
// menu

//login
#login {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 90;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginBack{
        background-color: rgba(0, 0, 0, .6);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 91;
    }

    .loginBox {
        width: 50%;
        height: 50%;
        background-color: darken($grey5, 5);
        z-index: 92;
        border: 1px solid rgba($lightGold,.5);

        @include pc(){
            width: 60%;
        }
        @include l-pad(){
            width: 70%;
        }
        @include s-pad(){
            width: 80%;
        }
        @include l-phone(){
            height: 60%;
        }

        .loginlayer {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;

            @include l-phone(){
                flex-flow: column;
            }
        }

        h1 {
            // border: 1px solid navy;
            writing-mode: vertical-lr;
            width: 20%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            order: 2;
            background-color: $navy;
            position: relative;
            @include font-style(40px,$notoSans,#afafaf){
                letter-spacing: 5px;
            };

            @include l-phone(){
                width: 100%;
                height: 20%;
                writing-mode: unset;
                order: 1 !important;
            }
            @include s-phone(){
                font-size: 30px;
            }

            button {
                border: 0;
                text-decoration: underline;
                outline: 0;
                margin-top: 40px;
                cursor: pointer;
                background-color: transparent;
                @include font-style(10px,$notoSans){
                    letter-spacing: 2px;
                    color: $lightGold;
                };

                &:hover {
                    color: orangered;
                    transition: all .2s;
                }

                @include l-phone(){
                    position: absolute;
                    right: 0px;
                    bottom: -2px;
                    font-size: 10px;
                }
            }
        }

        .logdiv {
            // border: 1px solid red;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            width: 80%;
            height: 100%;

            @include l-phone(){
                width: 100%;
                height: 80%;
            }

            label {
                // border: 1px solid red;
                width: 100%;
                height: 18%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                span {
                    // border: 1px solid red;
                    display: inline-block;
                    text-align: center;
                    margin-bottom: 10px;
                    @include font-style(14px,$CG,$white){}
                    @include l-phone(){
                        margin-bottom: 2px;
                    }
                }

                input {
                    width: 50%;
                    border: 0;
                    border-radius: 3px;
                    background-color: #efefef;
                    height: 20px;
                    outline: 0;
                    padding-left: 10px;
                    font-family: serif;
                    font-size: 16px;

                    @include l-phone(){
                        width: 70%;
                        height: 15px;
                    }
                }
            }

            #loginSubmit {
                margin: 0 auto;
                margin-top: 20px;
                padding: 5px 15px;
                background-color: transparent;
                border: 1px solid $lightGold;
                border-radius: 5px;
                outline: 0;
                @include font-style(14px,$CG,$lightGold,700){
                    letter-spacing: 3px;
                }

                &:hover{
                    // border: 1px solid $lightGold;
                    background-color: $lightGold;
                    color: $red;
                    transition: all .3s;
                }

            }
            #signUpSubmit {
                margin: 0 auto;
                margin-top: 20px;
                padding: 5px 10px;
                background-color: transparent;
                border: 1px solid $lightGold;
                border-radius: 5px;
                outline: 0;
                @include font-style(14px,$CG,$lightGold,700){
                    letter-spacing: 3px;
                }

                &:hover{
                    background-color: $lightGold;
                    color: $red;
                    transition: all .3s;
                }

                @include l-phone(){
                    margin-top: 15px;
                }

            }
        }
        .loginForm{
            order: 3;
            border-left:1px solid rgba($lightGold,.5) ;

            @include l-phone(){
                border-left: 0;
                border-top: 1px solid rgba($lightGold,.5);
            }
        }
        .signForm{
            order: 1;
            border-right:1px solid rgba($lightGold,.5) ;
            @include l-phone(){
                border-left: 0;
                border-top: 1px solid rgba($lightGold,.5);
            }
        }

    }
}

/*購物車數字動畫*/

.num-ani{
    animation-name: numAni;
    animation-duration: 1.5s;
    
  }

  @keyframes numAni{
    0%{
      transform: scale(1.5);
      color: rgb(255, 255, 246);
      opacity: .5;
    }
    100%{
      transform: scale(1);
    }
  }