@import '../base/_var.scss';
@import '../mixin/_fontStyle.scss';
@import '../mixin/_breakpoint.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #afafaf;
}

// ham //
#ham {
    width: 35px;
    height: 16px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 70px 0 0 90px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 99;
    // border: 1px solid red;

    span {
        display: block;
        position: absolute;
        height: 2px;
        border-radius: 5px;
        background-color: rgba(239, 239, 239, .9);
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
            width: 100%;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 7px;
            width: 50%;
        }

        &:nth-child(4) {
            top: 14px;
            width: 80%;
        }
    }

    &:hover {
        cursor: pointer;

        span {
            background-color: $lightGold;

            &:nth-child(2),
            &:nth-child(3) {
                width: 90%;
            }
        }
    }
}

#ham.open span {
    &:nth-child(1) {
        top: 16px;
        width: 0%;
        left: 50%;
    }

    &:nth-child(2) {
        width: 100%;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:nth-child(3) {
        width: 100%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    &:nth-child(4) {
        top: 16px;
        width: 0%;
        left: 50%;
    }
}

// ham


// logo
#logoBox {
    // border:1px solid red;
    width: 200px;
    height: 100px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-52%);
    z-index: 99;
    // border: 1px solid red;

    a {
        display: block;
        // border: 1px solid red;
        position: absolute;
        width: 100%;
        height: 100%;

        svg {
            position: absolute;
            top: -50%;
            left: 0;
        }
    }
}

// logo

// sideNav
#sidenav {
    // border: 1px solid red;
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100px;
    z-index: 98;

    li {
        margin-right: 25px;
        margin-bottom: 18px;

        a {
            @include font-style(14px, $CG, $white, 500) {
                display: block;
                text-decoration: none;
                position: relative;
                overflow: hidden;
                // border: 1px solid green;
            }

            &::after {
                content: "";
                display: block;
                border-bottom: 1px solid $lightGold;
                width: 100%;
                height: 0;
                position: absolute;
                bottom: 0;
                left: -100%;
            }

            &:hover {
                color: $lightGold;
                transition: color .4s;

                &::after {
                    left: 0;
                    transition: left .6s;
                }
            }
        }

        &:last-child {
            margin-right: 80px;
        }
    }
}

// sideNav

// menu
#menu {
    // border: 1px solid red;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-flow: row;
    background-color: $grey4;

    .menuLeft {
        @include font-style(100px, $notoSans, $grey4, 600) {
            // border: 1px solid green;
            width: 20%;
            height: 100%;
            background-color: lighten($cofe, 15);
            -webkit-writing-mode: vertical-rl;
            writing-mode: vertical-rl;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 10px;
        }
    }

    .menuMid {
        // border: 1px solid navy;
        width: 55%;
        height: 100%;
        position: relative;

        ul {
            // border: 1px solid red;
            width: 100%;
            height: 70%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            list-style: none;

            li {
                border-bottom: 2px solid lighten($grey5, 3);
                width: 100%;
                height: (100%/4);

                a {
                    @include font-style(90px, $CG, transparent, 600) {
                        // border: 1px solid gold;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-end;
                        width: 100%;
                        height: 100%;
                        -webkit-text-stroke-width: 2px;
                        -webkit-text-stroke-color: rgba($white, .6);
                        text-decoration: none;
                        padding-left: 50px;
                    }

                    &:hover {
                        color: rgba($white, .8);
                        transition: color .4s;
                    }
                }
            }

        }
    }

    .menuRight {
        // border: 1px solid gold;
        width: 35%;
        height: 100%;
        position: relative;

        .menuImgBox {
            // border: 1px solid deeppink;
            width: 100%;
            height: 70%;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-47%);
            overflow: hidden;

            .menuImg {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                min-width: 100%;
            }
        }
    }
}

// menu