@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@media all and (min-width: 1200px) {
  .xxlfont {
    font-size: 40px; } }

@media all and (max-width: 1200px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 996px) {
  .xxlfont {
    font-size: 30px !important; } }

@media all and (max-width: 768px) {
  .xxlfont {
    font-size: 25px !important; } }

@media all and (max-width: 576px) {
  .xxlfont {
    font-size: 20px !important; } }

@media all and (max-width: 400px) {
  .xxlfont {
    font-size: 18px !important; } }

@media all and (min-width: 1200px) {
  .xlfont {
    font-size: 35px; } }

@media all and (max-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xlfont {
    font-size: 30px !important; } }

@media all and (max-width: 996px) {
  .xlfont {
    font-size: 28px !important; } }

@media all and (max-width: 768px) {
  .xlfont {
    font-size: 24px !important; } }

@media all and (max-width: 576px) {
  .xlfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .xlfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .lfont {
    font-size: 30px; } }

@media all and (max-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1024px) {
  .lfont {
    font-size: 28px !important; } }

@media all and (max-width: 996px) {
  .lfont {
    font-size: 25px !important; } }

@media all and (max-width: 768px) {
  .lfont {
    font-size: 20px !important; } }

@media all and (max-width: 576px) {
  .lfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .lfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .mfont {
    font-size: 24px; } }

@media all and (max-width: 1200px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 1024px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 996px) {
  .mfont {
    font-size: 18px !important; } }

@media all and (max-width: 768px) {
  .mfont {
    font-size: 16px !important; } }

@media all and (max-width: 576px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (max-width: 400px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (min-width: 1200px) {
  .sfont {
    font-size: 18px; } }

@media all and (max-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1024px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 996px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 768px) {
  .sfont {
    font-size: 14px !important; } }

@media all and (max-width: 576px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (max-width: 400px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (min-width: 1200px) {
  .xsfont {
    font-size: 16px; } }

@media all and (max-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1024px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 996px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 768px) {
  .xsfont {
    font-size: 12px !important; } }

@media all and (max-width: 576px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (max-width: 400px) {
  .xsfont {
    font-size: 10px !important; } }

.xxlfont,
.xlfont,
.lfont,
.mfont,
.sfont,
.xsfont {
  letter-spacing: 1px;
  word-spacing: 3px; }

* {
  margin: 0;
  box-sizing: border-box;
  font-size: 0;
  padding: 0; }

body,
html {
  height: 100%;
  padding: 0;
  margin: 0; }

.open-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 20vw;
  min-width: 300px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.705);
  z-index: 3; }
  .open-btn .title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .open-btn .title h2 {
      color: black;
      border-bottom: 1px solid black; }
  .open-btn .lip-btn {
    height: 100%;
    width: 50%;
    display: inline-flex;
    align-items: center;
    flex-direction: column-reverse; }
    .open-btn .lip-btn h4 {
      margin-bottom: 30%;
      color: black;
      border-bottom: 1px solid black; }
  .open-btn .care-btn {
    height: 100%;
    width: 50%;
    display: inline-flex;
    align-items: center;
    flex-direction: column-reverse; }
    .open-btn .care-btn h4 {
      margin-bottom: 30%;
      color: black;
      border-bottom: 1px solid black; }

.open {
  height: 100%;
  width: 100%;
  display: flex; }
  .open a {
    height: 100%;
    width: 100%; }
    .open a .door1 {
      width: 100%;
      height: 100%;
      background: linear-gradient(325deg, #5f4a4a 0, #bd8383 75%);
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .open a .door1 .lips {
        height: 75%;
        width: 75%;
        background: linear-gradient(325deg, #493F46 0, #7e6d79 75%);
        position: relative; }
        .open a .door1 .lips span {
          white-space: nowrap;
          position: absolute;
          top: -5%;
          left: -5%; }
    .open a .door2 {
      height: 100%;
      width: 100%;
      background: linear-gradient(325deg, #797459 0, #dde290 75%);
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      .open a .door2 .care {
        height: 75%;
        width: 75%;
        background: linear-gradient(325deg, #a19865 0, #878875 75%);
        z-index: 1;
        position: relative; }
        .open a .door2 .care span {
          white-space: nowrap;
          position: absolute;
          bottom: -5%;
          right: -5%;
          text-align: end; }

@media screen and (max-width: 767px) {
  .open {
    flex-direction: column; }
    .open a .door1 {
      align-items: flex-end;
      justify-content: center; }
    .open a .door2 {
      align-items: flex-start;
      justify-content: center; } }

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@media all and (min-width: 1200px) {
  .xxlfont {
    font-size: 40px; } }

@media all and (max-width: 1200px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xxlfont {
    font-size: 35px !important; } }

@media all and (max-width: 996px) {
  .xxlfont {
    font-size: 30px !important; } }

@media all and (max-width: 768px) {
  .xxlfont {
    font-size: 25px !important; } }

@media all and (max-width: 576px) {
  .xxlfont {
    font-size: 20px !important; } }

@media all and (max-width: 400px) {
  .xxlfont {
    font-size: 18px !important; } }

@media all and (min-width: 1200px) {
  .xlfont {
    font-size: 35px; } }

@media all and (max-width: 1200px) {
  .xlfont {
    font-size: 35px !important; } }

@media all and (max-width: 1024px) {
  .xlfont {
    font-size: 30px !important; } }

@media all and (max-width: 996px) {
  .xlfont {
    font-size: 28px !important; } }

@media all and (max-width: 768px) {
  .xlfont {
    font-size: 24px !important; } }

@media all and (max-width: 576px) {
  .xlfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .xlfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .lfont {
    font-size: 30px; } }

@media all and (max-width: 1200px) {
  .lfont {
    font-size: 30px !important; } }

@media all and (max-width: 1024px) {
  .lfont {
    font-size: 28px !important; } }

@media all and (max-width: 996px) {
  .lfont {
    font-size: 25px !important; } }

@media all and (max-width: 768px) {
  .lfont {
    font-size: 20px !important; } }

@media all and (max-width: 576px) {
  .lfont {
    font-size: 18px !important; } }

@media all and (max-width: 400px) {
  .lfont {
    font-size: 16px !important; } }

@media all and (min-width: 1200px) {
  .mfont {
    font-size: 24px; } }

@media all and (max-width: 1200px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 1024px) {
  .mfont {
    font-size: 20px !important; } }

@media all and (max-width: 996px) {
  .mfont {
    font-size: 18px !important; } }

@media all and (max-width: 768px) {
  .mfont {
    font-size: 16px !important; } }

@media all and (max-width: 576px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (max-width: 400px) {
  .mfont {
    font-size: 14px !important; } }

@media all and (min-width: 1200px) {
  .sfont {
    font-size: 18px; } }

@media all and (max-width: 1200px) {
  .sfont {
    font-size: 18px !important; } }

@media all and (max-width: 1024px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 996px) {
  .sfont {
    font-size: 16px !important; } }

@media all and (max-width: 768px) {
  .sfont {
    font-size: 14px !important; } }

@media all and (max-width: 576px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (max-width: 400px) {
  .sfont {
    font-size: 12px !important; } }

@media all and (min-width: 1200px) {
  .xsfont {
    font-size: 16px; } }

@media all and (max-width: 1200px) {
  .xsfont {
    font-size: 16px !important; } }

@media all and (max-width: 1024px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 996px) {
  .xsfont {
    font-size: 14px !important; } }

@media all and (max-width: 768px) {
  .xsfont {
    font-size: 12px !important; } }

@media all and (max-width: 576px) {
  .xsfont {
    font-size: 10px !important; } }

@media all and (max-width: 400px) {
  .xsfont {
    font-size: 10px !important; } }

.xxlfont,
.xlfont,
.lfont,
.mfont,
.sfont,
.xsfont {
  letter-spacing: 1px;
  word-spacing: 3px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #afafaf; }

#ham {
  width: 35px;
  height: 16px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 70px 0 0 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  z-index: 99; }
  #ham span {
    display: block;
    position: absolute;
    height: 2px;
    border-radius: 5px;
    background-color: rgba(239, 239, 239, 0.9);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #ham span:nth-child(1) {
      top: 0px;
      width: 100%; }
    #ham span:nth-child(2), #ham span:nth-child(3) {
      top: 7px;
      width: 50%; }
    #ham span:nth-child(4) {
      top: 14px;
      width: 80%; }
  #ham:hover {
    cursor: pointer; }
    #ham:hover span {
      background-color: #E1D0A1; }
      #ham:hover span:nth-child(2), #ham:hover span:nth-child(3) {
        width: 90%; }

#ham.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%; }

#ham.open span:nth-child(2) {
  width: 100%;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#ham.open span:nth-child(3) {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#ham.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%; }

#logoBox {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-52%);
  z-index: 99; }
  #logoBox a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%; }
    #logoBox a svg {
      position: absolute;
      top: -50%;
      left: 0; }

#sidenav {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 98; }
  #sidenav li {
    margin-right: 25px;
    margin-bottom: 18px; }
    #sidenav li a {
      font-size: 14px;
      font-family: "Cormorant Garamond", serif;
      color: #efefef;
      font-weight: 500;
      letter-spacing: 1px;
      word-spacing: 3px;
      display: block;
      text-decoration: none;
      position: relative;
      overflow: hidden; }
      #sidenav li a::after {
        content: "";
        display: block;
        border-bottom: 1px solid #E1D0A1;
        width: 100%;
        height: 0;
        position: absolute;
        bottom: 0;
        left: -100%; }
      #sidenav li a:hover {
        color: #E1D0A1;
        transition: color .4s; }
        #sidenav li a:hover::after {
          left: 0;
          transition: left .6s; }
    #sidenav li:last-child {
      margin-right: 80px; }

#menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  display: flex;
  flex-flow: row;
  background-color: #383838;
  z-index: 97; }
  #menu .menuLeft {
    font-size: 100px;
    font-family: "Noto Sans TC", sans-serif;
    color: #383838;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 3px;
    width: 20%;
    height: 100%;
    background-color: #b8a78b;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 10px; }
  #menu .menuMid {
    width: 55%;
    height: 100%;
    position: relative; }
    #menu .menuMid ul {
      width: 100%;
      height: 70%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      list-style: none; }
      #menu .menuMid ul li {
        border-bottom: 2px solid #313131;
        width: 100%;
        height: 25%; }
        #menu .menuMid ul li a {
          font-size: 90px;
          font-family: "Cormorant Garamond", serif;
          color: transparent;
          font-weight: 600;
          letter-spacing: 1px;
          word-spacing: 3px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: rgba(239, 239, 239, 0.6);
          text-decoration: none;
          padding-left: 50px; }
          #menu .menuMid ul li a:hover {
            color: rgba(239, 239, 239, 0.8);
            transition: color .4s; }
  #menu .menuRight {
    width: 35%;
    height: 100%;
    position: relative; }
    #menu .menuRight .menuImgBox {
      width: 100%;
      height: 70%;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-47%);
      overflow: hidden; }
      #menu .menuRight .menuImgBox .menuImg {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        min-width: 100%; }
