<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rouge</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/anylize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <style id='btnStyle'>

    </style>
</head>

<body>

    @@include("./app/header_black.html")
    <div id="anyl-background1" class="anyl-background">
        <img src="image/anyl_background1.jpg">
    </div>
    <div id="anyl-background2" class="anyl-background">
        <img src="image/anyl_background2.jpg">
    </div>
    <div id="anyl-background3" class="anyl-background">
        <img src="image/anyl_background3.jpg">
    </div>
    <div id="anyl-background4" class="anyl-background">
        <img src="image/anyl_background4.jpg">
    </div>
    
    <main v-cloak class="anyl-main" id="anyl-item">
        
        <div class="anyl-button2">
            <a href="memAnylize.html">
                <p>專業保養分析</p>

            </a>
        </div>
        <div class="anyl-item">

            <div v-cloak class="anyl-product" v-for="(lateyear,index) in pdolateYear" v-if="index < 4">
                <div v-cloak class="item anyl-item1">
                    <img :src="lateyear.PRO_IMG">
                </div>
                <div class="anyl-shadow anyl-text1">
                    <h1>{{lateyear.PRO_NAME}}</h1>
                    <div class="type">
                        <div class="usetime">
                            <p>{{lateyear.PRO_USETIME}} {{lateyear.PRO_SEASON}}</p>
                        </div>
                        <div class="detail">
                            <div class="memcart" @click="addChart(lateyear)">
                                <p>加入購物車</p>
                            </div>
                            <a href="product1.html"><p @click="goProduct(lateyear.SER_NO)">商品詳情</p></a>
                            <!-- product1.html -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>


        <div class="timeBlock">
            <div class="anylTime">
                <div id="dayTimeBlock">

                </div>
                <img src="./image/bee.jpg" alt="">
            </div>
            <div class="anyl-timeChoose">

                <div class="choose useTime">
                    <button class="btn1-2 anyl-button1" @click="sun" id="anylSun" value="0">日間</button>
                    <button class="btn1-2 anyl-button1" @click="night" id="anylNight" value="1">夜間</button>
                </div>
                <div class="choose seasonTime">
                    <button class="btn1-2 anyl-button1" @click="earlyear" id="anyl_1to6" value="0">春夏</button>
                    <button class="btn1-2 anyl-button1" @click="lateyear" id="anyl_7to12" value="1">秋冬</button>
                </div>
            </div>


        </div>
            <div class="anyl-button" onclick="getmember()">
                <p>專業保養分析</p>
                <p>ANALYZE</p>
            </div>
    </main>

    <script src="./js/header.js"></script>

    <script>
        const app = new Vue({
            el: '#anyl-item',
            data: {

                pdolateYear:'',
                season:'',
                usetime:'',

                series: [],
                proPrice: [], //商品單價
                proNum: 1, //商品數量
                proImgs: '', //圖片編號
                proNO: '', //商品編號
                proClass:'',
                proName:'',

                getItems:[],
                totalItem:[],
                proCommit:{   
                        comNo:'', //商品編號
                        comName:'', //商品名稱
                        comImg: '', //小圖片路徑
                        comNum: '', //商品數量
                        comPrice: '', //商品單價  
                    },
            },

            methods: {
                    sun: function (event) {
                       this.usetime = 0 ;
                       if(this.season == 0){
                    $('#anyl-background2').fadeOut(1000);
                    $('#anyl-background1').fadeIn(1000);
                }else{
                    $('#anyl-background4').fadeOut(1000);
                    $('#anyl-background3').fadeIn(1000);
                } 
                    },
                    night: function (event) {
                       this.usetime = 1 ;
                       if(this.season == 0){
                    $('#anyl-background1').fadeOut(1000);
                    $('#anyl-background2').fadeIn(1000);
                }else{
                    $('#anyl-background3').fadeOut(1000);
                    $('#anyl-background4').fadeIn(1000);
                }
                    },
                    earlyear: function (event) {
                       this.season = 0 ;
                       if(this.usetime == 0){
                    $('#anyl-background3').fadeOut(1000);
                    $('#anyl-background1').fadeIn(1000);
                }else{
                    $('#anyl-background4').fadeOut(1000);
                    $('#anyl-background2').fadeIn(1000);
                }
                    },
                    lateyear: function (event) {
                       this.season = 1 ;
                       if(this.usetime == 0){
                    $('#anyl-background1').fadeOut(1000);
                    $('#anyl-background3').fadeIn(1000);
                }else{
                    $('#anyl-background2').fadeOut(1000);
                    $('#anyl-background4').fadeIn(1000);
                }
                    },
                    addChart(lateyear) { //加入購物車
                    //建立物件
                    this.proCommit.comNo = lateyear.PRO_NO;
                    this.proCommit.comName = lateyear.PRO_NAME;
                    this.proCommit.comImg = lateyear.PRO_IMG;
                    this.proCommit.comPrice = lateyear.PRO_PRICE;
                    this.proCommit.comNum = this.proNum;

                    const copy = Object.assign({}, this.proCommit)
                    
                    if(this.getItems.length == 0){
                        this.getItems.push(copy);
                        localStorage['shoppingcart'] = JSON.stringify(this.getItems);    
                        }else if(this.getItems.length < 9){
                            let x = 0;
                            for( let i=0 ; i < this.getItems.length;i++){
                                if(this.proCommit.comNo ==  this.getItems[i].comNo){
                                    this.getItems[i].comNum=parseInt(this.getItems[i].comNum) +1;
                                    x+=1;
                                };
                                
                            }
                            if(x == 0){
                            this.getItems.push(copy);
                            localStorage['shoppingcart'] = JSON.stringify(this.getItems);    
                            }else{
                                localStorage['shoppingcart'] = JSON.stringify(this.getItems);
                            };
                        }else{
                            alert('商品數量已達上限')
                        };     
                    },
                    goProduct(serno){
                        localStorage['carename'] = serno;
                    },
                },
            created() {
                let today = new Date();
                let uploadHour = today.getHours();
                let todatMonth = today.getMonth();
                
                    if (uploadHour >= 18 | uploadHour <= 6) {
                    this.usetime = 1
                         } else {
                             this.usetime = 0
                    }
                    if(todatMonth<=7){
                        this.season = 0;
                    }else{
                         this.season = 1;
                    }
                
                var season = this.season;
                var useTime = this.usetime;


                
            },
            mounted() {
                this.getItems =JSON.parse(localStorage.getItem('shoppingcart'));
                console.log(this.getItems);
            },
            watch:{
                usetime(before,after){
                    var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        let newtry = JSON.parse(xhr.responseText);
                        
                        
                        for(let i = 0; i< newtry.length;i++){
                                if(newtry[i].PRO_SEASON == 0){
                                    newtry[i].PRO_SEASON = '春夏';
                                }else{newtry[i].PRO_SEASON = '秋冬';
                        };
                                if(newtry[i].PRO_USETIME == 0){
                                    newtry[i].PRO_USETIME = '日間';
                                }else if(newtry[i].PRO_USETIME == 1){
                                    newtry[i].PRO_USETIME = '夜間';
                                }else{newtry[i].PRO_USETIME = '全適用';};
                        };
                        
                        app.$data.pdolateYear = newtry;
                    }else{
                        
                    }
                }
                var url = `./php/anylize.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `season=${this.season}&useTime=${this.usetime}`

                xhr.send(data_info); 
                },
                immediate:true,

                season(before,after){
                    
                    var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        let newtry = JSON.parse(xhr.responseText);
                        
                        
                        for(let i = 0; i< newtry.length;i++){
                                if(newtry[i].PRO_SEASON == 0){
                                    newtry[i].PRO_SEASON = '春夏';
                                }else{newtry[i].PRO_SEASON = '秋冬';
                        };
                                if(newtry[i].PRO_USETIME == 0){
                                    newtry[i].PRO_USETIME = '日間';
                                }else if(newtry[i].PRO_USETIME == 1){
                                    newtry[i].PRO_USETIME = '夜間';
                                }else{newtry[i].PRO_USETIME = '全適用';};
                        };
                        app.$data.pdolateYear = newtry;
                    }else{
                        
                    }
                }
                var url = `./php/anylize.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `season=${this.season}&useTime=${this.useTime}`


                xhr.send(data_info); 
                },
            }
        });
        window.addEventListener('load', dayTime());
        
        function dayTime() {
            $('#anyl-item').fadeIn(1000);

            let today = new Date();
            let months = new Array();
            months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

            let newMonth = document.createElement('div');
            newMonth.id = 'dayMonth';
            document.getElementById('dayTimeBlock').appendChild(newMonth);
            document.getElementById('dayMonth').innerText = months[today.getMonth()];

            let newDay = document.createElement('div');
            newDay.id = 'dayDay';
            document.getElementById('dayTimeBlock').appendChild(newDay);
            document.getElementById('dayDay').innerText = today.getDate();

            let uploadHour = today.getHours();

            var css = document.getElementById('btnStyle');
            var c = css.sheet;

            // $('#anyl-background1').fadeIn(1000);
            let todatMonth = today.getMonth();
            if(uploadHour >= 18 | uploadHour <= 6){
                if(todatMonth <= 7){
                    $('#anyl-background2').fadeIn(1000);
                }else{
                    $('#anyl-background4').fadeIn(1000);
                }
            }else{
                if(todatMonth <= 7){
                    $('#anyl-background1').fadeIn(1000);
                }else{
                    $('#anyl-background3').fadeIn(1000);
                }
            };

            if (uploadHour >= 18 | uploadHour <= 6) {
                // transform: translate(0em, 0.5em);
                document.getElementById('anylNight').style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)"
            } else {
                document.getElementById('anylSun').style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)"
            }
            
            if (todatMonth <= 7) {
                document.getElementById('anyl_1to6').style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)"
            } else {
                document.getElementById('anyl_7to12').style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)"

            }

            var anylSun = document.getElementById('anylSun');
            var anylNight = document.getElementById('anylNight');
            var anyl_1to6 = document.getElementById('anyl_1to6');
            var anyl_7to12 = document.getElementById('anyl_7to12');
            anylSun.addEventListener('click', function() {

                this.style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)";
                document.getElementById('anylNight').style.cssText = "background-color: grey;";

            });
            anylNight.addEventListener('click', function() {
                this.style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)";
                document.getElementById('anylSun').style.cssText = "background-color: grey";


            });
            anyl_1to6.addEventListener('click', function() {
                this.style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)";
                document.getElementById('anyl_7to12').style.cssText = "background-color: grey";

            });
            anyl_7to12.addEventListener('click', function() {
                // transform: translate(0em, 0.5em);
                this.style.cssText = "background-color: #C6B26E;color:rgba(239,239,238,.9)";
                document.getElementById('anyl_1to6').style.cssText = "background-color: grey";

            });

            

        };
        function getmember() {
            var xhr = new XMLHttpRequest();
            xhr.onload = function() {
                if (xhr.status == 200) {
                    if (xhr.responseText == 1) {
                        // document.location.href = "./memAnylize.html";
                        alert('請先登入');
                        document.getElementById('login').style.display = 'flex';
                    } else {
                        document.location.href = "./memAnylize.html";
                    }
                } else {
                    alert(xhr.status);
                }
            }

            xhr.open('POST', './php/anyliez_mem.php', true);
            xhr.send( null);
        }
    </script>
</body>

</html>