<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保養分析</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/anylize.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/main.js"></script>
    <style id='btnStyle'>

    </style>
</head>

<body>

    @@include("./app/header_black.html")
    <div class="anyl-background">

        <img src="image/background2.jpg">
    </div>
    <main class="anyl-main" id="anyl-item">
        
        <div class="anyl-button2">
            <a href="memAnylize.html">
                <p>專業保養分析</p>

            </a>
        </div>
        <!--  -->
        <div class="anyl-item">

            <div class="anyl-product" v-for="(lateyear,index) in pdolateYear" v-if="index < 4">
                <div class="item anyl-item1">
                    <img :src="lateyear.PRO_IMG">
                </div>
                <div class="anyl-shadow anyl-text1">
                    <h1>{{lateyear.PRO_NAME}}</h1>
                    <p>{{lateyear.PRO_USETIME}}</p>
                    <p>{{lateyear.PRO_SEASON}}</p>
                </div>
            </div>

            <!-- <div class="anyl-product" v-for="(lateyear,index) in pdolateYear" v-if="index < 4">
                <div class="item anyl-item1">
                    <img src="./image/care.png">
                </div>
                <div class="anyl-shadow anyl-text1">
                    <h1>{{lateyear.PRO_NAME}}</h1>
                    <p>文字介紹</p>
                </div>
            </div>

            <div class="anyl-product" v-for="(lateyear,index) in pdolateYear" v-if="index < 4">
                <div class="item anyl-item1">
                    <img src="./image/care.png">
                </div>
                <div class="anyl-shadow anyl-text1">
                    <h1>{{lateyear.PRO_NAME}}</h1>
                    <p>文字介紹</p>
                </div>
            </div>

            <div class="anyl-product" v-for="(lateyear,index) in pdolateYear" v-if="index < 4">
                <div class="item anyl-item1">
                    <img src="./image/care.png">
                </div>
                <div class="anyl-shadow anyl-text1">
                    <h1>{{lateyear.PRO_NAME}}</h1>
                    <p>文字介紹</p>
                </div>
            </div> -->

        </div>
        <!--  -->

        </div>


        <div class="timeBlock">
            <div class="anylTime">
                <div id="dayTimeBlock">

                </div>
                <img src="./image/bee.jpg" alt="">
            </div>
            <div class="anyl-timeChoose">

                <div class="choose useTime">
                    <button class="btn1-2 anyl-button1" @click="sun" id="anylSun" value="0">日間</button>
                    <button class="btn1-2 anyl-button1" @click="night" id="anylNight" value="1">夜間</button>
                </div>
                <div class="choose seasonTime">
                    <button class="btn1-2 anyl-button1" @click="earlyear" id="anyl_1to6" value="0">春夏</button>
                    <button class="btn1-2 anyl-button1" @click="lateyear" id="anyl_7to12" value="1">秋冬</button>
                </div>
            </div>


        </div>
        <a href="memAnylize.html">
            <div class="anyl-button">
                <p>專業保養分析</p>
                <p>ANYLIZE</p>
            </div>
        </a>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
        var app = new Vue({
            el: '#anyl-item',
            data: {

                pdolateYear:'',
                season:'',
                usetime:'',
            },

            methods: {
                    sun: function (event) {
                       this.usetime = 0 ;

                    },
                    night: function (event) {
                       this.usetime = 1 ;

                    },
                    earlyear: function (event) {
                       this.season = 0 ;

                    },
                    lateyear: function (event) {
                       this.season = 1 ;

                    }
                },
            created() {
                let today = new Date();
                let uploadHour = today.getHours();
                let todatMonth = today.getMonth();
                
                    if (uploadHour >= 18 | uploadHour <= 6) {
                    this.usetime = 1
                         } else {
                             this.usetime = 0
                    }
                    if(todatMonth<=7){
                        this.season = 0;
                    }else{
                         this.season = 1;
                    }
                
                var season = this.season;
                var useTime = this.usetime;


                // var xhr = new XMLHttpRequest();
                // xhr.onload=function (){
                //     if( xhr.status == 200 ){
                //         app.$data.pdolateYear = JSON.parse(xhr.responseText);                        
                //     }else{
                //         alert( xhr.status );
                //     }
                // }
                // var url = `./php/anylize.php`;
                // xhr.open("post", url, true);
                // xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                // let data_info = `season=${season}&useTime=${useTime}`

                // xhr.send(data_info); 
                
            },
            watch:{
                usetime(before,after){
                    console.log(`${before}--->${after}`)
                    var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        let newtry = JSON.parse(xhr.responseText);
                        
                        
                        for(let i = 0; i< newtry.length;i++){
                                if(newtry[i].PRO_SEASON == 0){
                                    newtry[i].PRO_SEASON = '春夏';
                                }else{newtry[i].PRO_SEASON = '秋冬';
                        };
                                if(newtry[i].PRO_USETIME == 0){
                                    newtry[i].PRO_USETIME = '日間';
                                }else if(newtry[i].PRO_USETIME == 1){
                                    newtry[i].PRO_USETIME = '夜間';
                                }else{newtry[i].PRO_USETIME = '全適用';};
                        };
                        console.log(newtry);
                        app.$data.pdolateYear = newtry;
                    }else{
                        alert( xhr.status );
                    }
                }
                var url = `./php/anylize.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `season=${this.season}&useTime=${this.usetime}`

                xhr.send(data_info); 
                },
                immediate:true,

                season(before,after){
                    
                    var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        let newtry = JSON.parse(xhr.responseText);
                        
                        
                        for(let i = 0; i< newtry.length;i++){
                                if(newtry[i].PRO_SEASON == 0){
                                    newtry[i].PRO_SEASON = '春夏';
                                }else{newtry[i].PRO_SEASON = '秋冬';
                        };
                                if(newtry[i].PRO_USETIME == 0){
                                    newtry[i].PRO_USETIME = '日間';
                                }else if(newtry[i].PRO_USETIME == 1){
                                    newtry[i].PRO_USETIME = '夜間';
                                }else{newtry[i].PRO_USETIME = '全適用';};
                        };
                        console.log(newtry);
                        app.$data.pdolateYear = newtry;
                    }else{
                        alert( xhr.status );
                    }
                }
                var url = `./php/anylize.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `season=${this.season}&useTime=${this.useTime}`


                xhr.send(data_info); 
                },
            }
        })




        window.addEventListener('load', dayTime());
        
        function dayTime() {
            $('.anyl-product').fadeIn(500);
            let today = new Date();
            let months = new Array();
            months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
            // let newDiv = ;

            let newMonth = document.createElement('div');
            newMonth.id = 'dayMonth';
            document.getElementById('dayTimeBlock').appendChild(newMonth);
            document.getElementById('dayMonth').innerText = months[today.getMonth()];

            let newDay = document.createElement('div');
            newDay.id = 'dayDay';
            document.getElementById('dayTimeBlock').appendChild(newDay);
            document.getElementById('dayDay').innerText = today.getDate();

            let uploadHour = today.getHours();

            var css = document.getElementById('btnStyle');
            var c = css.sheet;

            if (uploadHour >= 18 | uploadHour <= 6) {
                document.getElementById('anylNight').style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);"
                    // c.insertRule("#anylNight::before{transform: translate3d(0, 0, -1em);}", 0);
            } else {
                document.getElementById('anylSun').style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);"
                    // c.insertRule("#anylSun::before{transform: translate3d(0, 0, -1em);}", 0);

            }
            let todatMonth = today.getMonth();
            if (todatMonth <= 7) {
                document.getElementById('anyl_1to6').style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);"
                    // c.insertRule("#anyl_1to6::before{transform: translate3d(0, 0, -1em);}", 0);
            } else {
                document.getElementById('anyl_7to12').style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);"
                    // c.insertRule("#anyl_7to12::before{transform: translate3d(0, 0, -1em);}", 0);

            }

            var anylSun = document.getElementById('anylSun');
            var anylNight = document.getElementById('anylNight');
            var anyl_1to6 = document.getElementById('anyl_1to6');
            var anyl_7to12 = document.getElementById('anyl_7to12');
            anylSun.addEventListener('click', function() {

                this.style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);";
                document.getElementById('anylNight').style.cssText = "background-color: $darkGold;";
                // c.insertRule("#anylNight#anylNight::before{transform: translate3d(0.5em, 0.5em, -1em);}", 0);

            });
            anylNight.addEventListener('click', function() {
                this.style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);";
                document.getElementById('anylSun').style.cssText = "background-color: $darkGold";
                // c.insertRule("#anylNight#anylNight::before{transform: translate3d(0, 0, -1em);}", 0);


            });
            anyl_1to6.addEventListener('click', function() {
                this.style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);";
                document.getElementById('anyl_7to12').style.cssText = "background-color: $darkGold";
                // c.insertRule("#anyl_1to6#anyl_1to6::before{transform: translate3d(0, 0, -1em);}", 0);

            });
            anyl_7to12.addEventListener('click', function() {
                this.style.cssText = "background-color: #C0A57C;transform: translate(0em, 0.75em);";
                document.getElementById('anyl_1to6').style.cssText = "background-color: $darkGold";
                // c.insertRule("#anyl_7to12#anyl_7to12::before{transform: translate3d(0, 0, -1em);}", 0);

            });


        };
    </script>
</body>

</html>