<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員保養分析結果</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="./css/memAnylizeResult.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

    @@include('./app/header.html')
    <main class="memAnyl-main">
        <section id="memAnylresult" class="memAnylresult-content">
            <div class="memAnylResult-word" v-for="(item,index) in result" v-if="index<1">
                <div class="title">
                    <h1>檢測結果 - {{item.MTC_TYPE}}</h1>
                </div>
                <div class="line"></div>
                <p class="forword">
                    {{item.MTI_TEXT}}    
                </p>
            </div>
            <div class="sun">
                <div class="word">
                    <h3>日間保養步驟</h3>
                    <div class="line"></div>
                    <div class="product" v-for="(item,index) in result" v-if="index < 3">
                        <p>步驟 {{index+1}} : 使用{{item.PRO_NAME}}</p>
                        <div class="pic">
                            <img src="">
                        </div>
                    </div>

                </div>

            </div>
            <div class="night">
                <div class="word">
                    <h3>夜間保養步驟</h3>
                    <div class="line"></div>
                    <div class="product" v-for="(item,index) in result" v-if="index < 3">
                        <p>步驟 {{index+1}} : 使用{{item.PRO_NAME}}</p>
                        <div class="pic">
                            <img src="">
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="btn">
            <a href="memAnylize.html">
                <div class="btnStyle">
                    <p>在次檢測</p>
                </div>
            </a>
            <a href="">
                <div id="btnCheckId" class="btnStyle">
                    <p>儲存檢測結果</p>
                </div>
            </a>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>

    <script>
        const app = new Vue({
            el: '#memAnylresult',
            data: {
                
                result:'',
                sunItem:'',
                word:'',
                type:'',
            },
            mounted() {
               
                var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        app.$data.result = JSON.parse(xhr.responseText);
                        app.$data.type = localStorage.type;
                    }else{
                        alert( xhr.status );
                    }
                }
                // let data_info = 'answer='+3;
                var url = `./php/memAnylizeResult.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                
                let data_info = 'answer=' + localStorage.type;

                xhr.send(data_info); 
                // console.log(data_info);


                
                

                // xhr.send(null);

                
                // let today = new Date();
                // let todayTime = `${today.getFullYear()}-${today.getMonth()+1}-${today.getDate()}`
                // var xhr2 = new XMLHttpRequest();
                // var url2 = "./php/memAnylizeResultUpdate.php";
                // xhr2.open("post", url2, true);
                // xhr2.setRequestHeader("content-type","application/x-www-form-urlencoded");
                
                // let data_info2='today=' + todayTime;
                // console.log(data_info2);

                // xhr2.send( data_info2 );


                
            },

        });
        var btnCheckId = document.getElementById('btnCheckId')

        btnCheckId.addEventListener('click', function() {
                //   產生XMLHttpRequest物件
                let xhr = new XMLHttpRequest();
                //註冊callback function
                            var x;
                xhr.onload = function(){
                    if(xhr.status==200){
                    }else{
                        alert(xhr.status);
                    }
                }
                let today = new Date();
                let todayTime = `${today.getFullYear()}-${today.getMonth()+1}-${today.getDate()}`
                                
                
                //設定好所要連結的程式
                let url = "./php/memAnylizeResultUpdate.php";
                xhr.open("Post", url, true);

                //送出資料
              
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `today=${todayTime}&&class=${localStorage.type}`;
                xhr.send(data_info);

                alert('貯存成功')
            });
    </script>
</body>

</html>