<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/R.ico" />
    <title>ROUGE</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap">
    <link rel="stylesheet" href="./css/memAnylizeResult.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r118/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.4.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
</head>

<body>

    @@include('./app/header.html')
    <main class="memAnyl-main" id="memAnyl-main">
        <section v-cloak id="memAnylresult" class="memAnylresult-content">
            <div class="memAnylResult-word" v-for="(item,index) in result" v-if="index<1">
                <div class="title">
                    <h1>檢測結果 - {{item.MTC_TYPE}}</h1>
                </div>
                <div class="line"></div>
                <p class="forword">
                    {{item.MTI_TEXT}}    
                </p>
            </div>
            <div class="sun totalproduct">
                <div class="word">
                    <h3>日間保養步驟</h3>
                    <div class="line"></div>
                    <div class="everyitem">
                        <div class="itemdetail">
                            <div class="product" v-for="(item,index) in sun" v-if="index < 3">
                                <div class="detail">
                                    <p class="resultStep">步驟 {{index+1}} : 使用{{item.PRO_NAME}}</p>

                                    <div class="memcart">
                                        <!-- <div class="addToCart"  @click="addChart(item)">
                                            <p>ADD TO CART</p>
                                        </div> -->
                                        <div class="productbtn" @click="sunchangeitem(item)"><p>商品詳情</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pic">
                            <img :src="sunImg">
                            <div>
                                <p>{{sunName}}</p>
                                <p>價格:{{sunprice}}</p>
                                <p>適合膚質:{{sunType}}</p>
                                <button @click="gosunProduct()" onclick="location.href='product1.html'" class="goProduct">前往商品頁面</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="night totalproduct">
                <div class="word">
                    <h3>夜間保養步驟</h3>
                    <div class="line"></div>
                    <div class="everyitem">
                        <div class="itemdetail">
                            <div class="product" v-for="(item,index) in night" v-if="index < 3">
                                <div class="detail">
                                    <p class="resultStep">步驟 {{index+1}} : 使用{{item.PRO_NAME}}</p>
                                    <div class="memcart">
                                        <!-- <div class="addToCart" @click="addChart(item)">
                                            <p>ADD TO CART</p>
                                        </div> -->
                                        <div class="productbtn" @click="nightchangeitem(item)"><p>商品詳情</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pic nightpic1">
                            <img :src='nightImg'>
                            <div>
                                <p>{{nightName}}</p>
                                <p>價格:{{nightprice}}</p>
                                <p>適合膚質:{{nightType}}</p>
                                <button @click="gonightProduct()" class="goProduct" onclick="location.href='product1.html'">前往商品頁面</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <div class="btn">
            <a href="memAnylize.html">
                <div class="btnStyle">
                    <p>在次檢測</p>
                </div>
            </a>
            <a href="memPage.html">
                <div  id="btnCheckId" class="btnStyle" >
                    <p>儲存檢測結果</p>
                </div>
            </a>
        </div>
    </main>

    

    <script src="./js/header.js"></script>


    <script>
        var app = new Vue({
            el: '#memAnylresult',
            data: {
                
                result:'',
                sunItem:'',
                word:'',
                type:'',

                sun:[],
                night:[],

                sunImg:'',
                sunName:'',
                sunType:'',
                sunprice:'',
                sunserno:'',

                nightImg:'',
                nightName:'',
                nightType:'',
                nightprice:'',
                nightserno:'',
                

                proPrice: [], //商品單價
                proNum: 1, //商品數量
                proImgs: '', //圖片編號
                proNO: '', //商品編號
                proName:'',

                getItems:[],
                totalItem:[],
                proCommit:{   
                        comNo:'', //商品編號
                        comName:'', //商品名稱
                        comImg: '', //小圖片路徑
                        comNum: '', //商品數量
                        comPrice: '', //商品單價  
                    },
            },

            methods: {
                addChart(item) { //加入購物車
                    //建立物件
                    this.proCommit.comNo = item.PRO_NO;
                    this.proCommit.comName = item.PRO_NAME;
                    this.proCommit.comImg = item.PRO_IMG;
                    this.proCommit.comPrice = item.PRO_PRICE;
                    this.proCommit.comNum = this.proNum;

                    const copy = Object.assign({}, this.proCommit)
                    
                    if(this.getItems.length == 0){
                        this.getItems.push(copy);
                        localStorage['shoppingcart'] = JSON.stringify(this.getItems);    
                        }else {
                            let x = 0;
                            for( let i=0 ; i < this.getItems.length;i++){
                                if(this.proCommit.comNo ==  this.getItems[i].comNo){
                                    x+=1;
                                };
                                
                            }
                            if(x == 0){
                            this.getItems.push(copy);
                            localStorage['shoppingcart'] = JSON.stringify(this.getItems);    
                            }else if(getItems.length < 9){
                                localStorage['shoppingcart'] = JSON.stringify(this.getItems);
                            };
                        };     
                    },
                sunchangeitem(item){
                    this.sunImg = item.PRO_IMG;
                    this.sunName = item.PRO_NAME;
                    this.sunType = item.MTC_TYPE;
                    this.sunprice = item.PRO_PRICE;   
                    this.sunserno = item.SER_NO;
                },
                
                nightchangeitem(item){
                    this.nightImg = item.PRO_IMG;                    
                    this.nightName = item.PRO_NAME;
                    this.nightType = item.MTC_TYPE;
                    this.nightprice = item.PRO_PRICE;   
                    this.nightserno = item.SER_NO;
                },
                gosunProduct(){
                    localStorage['carename'] = this.sunserno;
                },
                gonightProduct(){
                    localStorage['carename'] = this.nightserno;
                },
            },
            mounted() {
                var xhr = new XMLHttpRequest();
                xhr.onload=function (){
                    if( xhr.status == 200 ){
                        app.$data.result = JSON.parse(xhr.responseText);
                        let totalItem =JSON.parse(xhr.responseText);
                        this.sun = 'IN';
                        this.night = 'IN';
                        for(let i = 0 ; i < totalItem.length; i++){
                            if(totalItem[i].PRO_USETIME == 0){
                                app.$data.sun.push(totalItem[i]);
                                app.$data.sunImg = app.$data.sun[0].PRO_IMG;
                                app.$data.sunName = app.$data.sun[0].PRO_NAME;
                                app.$data.sunprice = app.$data.sun[0].PRO_PRICE;
                                app.$data.sunType = app.$data.sun[0].MTC_TYPE;
                                app.$data.sunserno= app.$data.sun[0].SER_NO;

                            }else if(totalItem[i].PRO_USETIME == 1){
                                app.$data.night.push(totalItem[i]);
                                app.$data.nightImg= app.$data.night[0].PRO_IMG;
                                app.$data.nightName= app.$data.night[0].PRO_NAME;
                                app.$data.nightprice= app.$data.night[0].PRO_PRICE;
                                app.$data.nightType= app.$data.night[0].MTC_TYPE;
                                app.$data.nightserno= app.$data.night[0].SER_NO;
                            }
                        }
                    }else{
                    }
                }
                var url = `./php/memAnylizeResult.php`;
                xhr.open("post", url, true);
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                
                let data_info = 'answer=' + localStorage.type;

                xhr.send(data_info); 
            
               
                this.getItems =JSON.parse(localStorage.getItem('shoppingcart'));                
            },

        });
        window.addEventListener('load', loadin());
        function loadin(){
            $('#memAnyl-main').fadeIn(1000);

        }
        
        
        var btnCheckId = document.getElementById('btnCheckId')

        btnCheckId.addEventListener('click', function() {
                //   產生XMLHttpRequest物件
                let xhr = new XMLHttpRequest();
                //註冊callback function
                            var x;
                xhr.onload = function(){
                    if(xhr.status==200){
                    }else{
                        alert(xhr.status);
                    }
                }
                let today = new Date();
                let todayTime = `${today.getFullYear()}-${today.getMonth()+1}-${today.getDate()}`
                                
                
                //設定好所要連結的程式
                let url = "./php/memAnylizeResultUpdate.php";
                xhr.open("Post", url, true);

                //送出資料
              
                xhr.setRequestHeader("content-type","application/x-www-form-urlencoded");
                let data_info = `today=${todayTime}&&class=${localStorage.type}`;
                xhr.send(data_info);

                // window.location.href='anylize.html';
            });
    </script>
</body>

</html>