<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/shoppingcart.css">
  
  <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./js/main.js"></script>
</head>
<body>
  @@include("./app/header_black.html")
  <div class="shop-main" id="app">
    <div class="title">
      <h2 class="xxlfont">Shoppingcart</h2>
    </div>
    <div class="shop-block" v-if="products.length">
      <div class="pro-total-block">
        <div class="pro-total-title">
          <div class="pro-title">
            產品名稱
          </div>
          <div class="mem-title">
            數量
          </div>
          <div class="price-title">
            價格
          </div>

        </div>
        <!--購物車卡片-->
        <div class="cart-card" v-for="(item, index) in products">
          <div class="cart-pro-pic">
            <div class="cart-pic-img">
              <img :src="item.img">
            </div>

          </div>
          <div class="rwd-pro-del">
            <div class="cart-pro-del">
              <div class="cart-name">
                {{item.name}}

              </div>
              <div class="cart-del">
                <button @click="remove(index)">delete</button>

              </div>

            </div>
            <div class="cart-mem">
              <button @click="decrement(index)" v-bind:disabled="item.count <= 1">-</button>
              <div>{{item.count}}</div>
              <button @click="increment(index)">+</button>
              
            </div>

          </div>
          
          <div class="cart-price">
            {{item.price*item.count | showPrice}}

          </div>

        </div>
       
        <!--總價-->
        <div class="cart-total-price">
          <div class="cart-total-tit">
            總計
          </div>
          
          <div class="cart-total-mem">
            {{totalprice | showPrice}}
          </div>

        </div>

      </div>
      
      <!--結帳-->
      <div class="check">
        <button>立即結帳</button>
        <button><a href="./light-lips.html">繼續購物</a></button>

      </div>
    </div>
    <h2 v-else>購物車為空</h2>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        products: [
          {
            id: 1,
            img: 1313,
            name: '超級無敵口紅1',
            count: 1,
            price: 5000,
          },
          {
            id: 2,
            img: 1314,
            name: '超級無敵口紅2',
            count: 1,
            price: 6000,
          },
          {
            id: 3,
            img: 1315,
            name: '超級無敵口紅3',
            count: 1,
            price: 7000,
          }
        ]
      },
      methods: {
        remove(index){
          this.products.splice(index, 1);
        },
        decrement(index){
          this.products[index].count--;
        },
        increment(index){
          this.products[index].count++;
        },
        

      },
      computed: {
        totalprice(){
          let totalprice = 0;
          for(item of this.products){
            totalprice += item.price * item.count;
          }
          return totalprice;
        }
      },
      filters: {
        showPrice(price){
          return price.toFixed(2);
        }
      }
    })
  </script>
</body>
</html>