<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./image/R.ico" />
  <title>ROUGE</title>
  <link rel="stylesheet" href="./css/shoppingcart.css">
  
  <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  @@include("./app/header_black.html")
  <div class="shop-main" id="app">
    <div class="title">
      <h2 class="xxlfont">Shoppingcart</h2>
    </div>
    <div class="shop-block" v-if="products.length">
      <div class="pro-total-block">
        <div class="pro-total-title">
          <div class="pro-title">
            產品名稱
          </div>
          <div class="mem-title">
            數量
          </div>
          <div class="price-title">
            價格
          </div>

        </div>
        <!--購物車卡片-->
        <div class="cart-card" v-for="(item, index) in products" v-cloak>
          <div class="cart-pro-pic">
            <div class="cart-pic-img">
              <img :src="item.comImg">
            </div>

          </div>
          <div class="rwd-pro-del">
            <div class="cart-pro-del">
              <div class="cart-name">
                {{item.comName}}

              </div>
              <div class="cart-del">
                <button @click="remove(index)">delete</button>

              </div>

            </div>
            <div class="cart-mem">
              <button @click="decrement(index)" v-bind:disabled="item.comNum <= 1">-</button>
              <div>{{item.comNum}}</div>
              <button @click="increment(index)" :disabled="item.comNum >= 9">+</button>
              
            </div>

          </div>
          
          <div class="cart-price">
            {{item.comPrice*item.comNum | showPrice}}

          </div>

        </div>
        <!-- 贈品卡片 -->
        <div class="cart-card" v-if="totalprice > min.GIF_CONDI" v-cloak>
          <!-- <div class="cart-card" v-for="item in gifts" v-if="item.GIF_CONDI < totalprice" v-cloak> -->
          <div class="cart-pro-pic">
            <div class="cart-pic-img">
              <img :src="giftgift.GIF_IMGURL">
            </div>

          </div>
          <div class="rwd-pro-del">
            <div class="cart-pro-del">
              <div class="cart-name gift-name">
                滿額禮:<br>
                <!-- {{item.GIF_NAME}} -->
               
               {{giftgift.GIF_NAME}}
              </div>
              

            </div>
            <div class="cart-mem">
              
              <div><span>數量 : </span>1</div>
              
            </div>

          </div>
          
          <div class="cart-price">
            免費

          </div>

        </div>
       
        <!--總價-->
        <div class="cart-total-price">
          <div class="cart-total-tit">
            總計
          </div>
          
          <div class="cart-total-mem">
            {{totalprice | showPrice}}
          </div>

        </div>

      </div>
      
      <!--結帳-->
      <div class="check">
        <button @click="openBox">立即結帳</button>
        <button><a href="./light-lips.html">繼續購物</a></button>

      </div>
    </div>
    <h2 v-else>購物車為空</h2>
    <!-- 填選地址燈箱 -->
    <div class="address-box-back" id="address-box-back" @click="closeBox">
      <div class="address-box" @click="innerStop">
        <h2>Address : </h2>
        <input class="adress-input" type="text" name="address" v-model="address">
        <button class="address-confirm" @click="commitForm">確認結帳</button>
      </div>
    </div>
  </div>
  
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        products: '',
        gifts:'',
        max: '',
        min: '',
        address: '',
        
        
      },
      methods: {
        remove(index){
          this.products.splice(index, 1);
          localStorage['shoppingcart'] = JSON.stringify(this.products)
          //禮物
   
        },
        decrement(index){
          this.products[index].comNum--;
          localStorage['shoppingcart'] = JSON.stringify(this.products)
        },
        increment(index){
          this.products[index].comNum++;
          localStorage['shoppingcart'] = JSON.stringify(this.products)
        },
        // gogift (){
        //   this.gogift = app.gifts.filter(item => item.GIF_CONDI > app.totalprice)
        // }
        commitForm (){

          let gift = this.max
          
          if(gift == ""){
            gift = {GIF_NO : "null"}
          }

          // console.log(gift)

          let dataif ="sendData="+JSON.stringify(this.products) +"|"+ JSON.stringify(gift) +"|"+this.totalprice + "|" + JSON.stringify(this.address);
          
          var xhr1 = new XMLHttpRequest();
                xhr1.onload = function (){
                    if( xhr1.status == 200 ){ //連線成功
                        console.log(xhr1.responseText)
                       alert(xhr1.responseText);
                       if(xhr1.responseText=="購買成功"){
                        // localStorage['shoppingcart']=""
                        window.localStorage.removeItem('shoppingcart')
                        window.location.href = "./memPage.html"
                      }
                       
                    }else{
                        alert( xhr1.status );
                    }
                
                }
                var url1 = "./php/sendOrder.php";
                xhr1.open("post", url1, true);
                xhr1.setRequestHeader("content-type","application/x-www-form-urlencoded")
                xhr1.send( dataif);


        },
        openBox() {

         if(localStorage['shoppingcart'] == null){
           alert('請購買商品')
         }else{
           //傳入會員地址資料
          var xhr2 = new XMLHttpRequest(); //建立ajax物件
          xhr2.onload = function() {
            if(xhr2.status == 200){ //連線成功
              // console.log(JSON.parse(xhr2.responseText))
              if(xhr2.responseText == '未登入'){
                alert('未登入')
                
              }else{
                let box = document.getElementById('address-box-back')
                box.style.display = 'flex'
                let address = JSON.parse(xhr2.responseText)
                app.$data.address = address[0].MEM_ADRS //將資料放入vuedata內

              }
              

            }else{
              alert(xhr2.status) //alert失敗資訊
            }
          }
          var url2 = "./php/memberAddress.php"; //獲取後端url地址
          xhr2.open("get",url2,true);
          xhr2.send(null);

         }
          
          
        },
        closeBox() {
          let box = document.getElementById('address-box-back')
          
          box.style.display = 'none'
          let inner = document.getElementById('address-box')
          // inner.addEventListener('click',function(e){
          // e.stopPropagation();
          // })
        },
        innerStop(e) {
          e.stopPropagation();
        }

      },
      computed: {
        totalprice(){
          let totalprice = 0;
          for(item of this.products){
            totalprice += item.comPrice*item.comNum;
          }
         
          return totalprice;
        },
        giftgift() {
          
                for(let i=0; i<app.$data.gifts.length;i++){
                        if(this.totalprice>app.$data.gifts[i].GIF_CONDI){
                          app.$data.max=app.$data.gifts[i];
                          }             
                      }

          // return this.gifts.filter(item =>  item.GIF_CONDI < this.totalprice)
          //console.log(this.gifts.filter(item =>  item.GIF_CONDI < this.totalprice));
          // console.log(this.gifts);
          return app.$data.max;
        }
        
        // lastgift() {
        //   for(let i=0; i<this.gifts.length;i++){
        //     let max={};
        //     if(this.totalprice>this.gifts[i].GIF_CONDI){
        //       max = this.gifts[i];
        //       }             
        //   }
        //   return max;
        //   // return this.gifts.filter(item =>  item.GIF_CONDI < this.totalprice)
        // }
        

      },
      watch: {
        
        
      },
      filters: {
        showPrice(price){
          return 'NT$' + price;
        }
      },
      created() {
        
        
      },
      mounted() {
        // this.products = localStorage.getItem('shoppingcart')
  
        this.products = JSON.parse(localStorage.getItem('shoppingcart')) //抓取localstorage中的購物車字串並轉為物件
        let totalprice=0;
        for(item of this.products){
            totalprice += item.comPrice*item.comNum;
          }
        //第一次取得資料
        var xhr = new XMLHttpRequest();
        xhr.onload = function (){
          if( xhr.status == 200){
          //給預設的系列名稱   
            app.$data.gifts = JSON.parse(xhr.responseText);
            app.$data.min =app.$data.gifts[0]
            console.log(app.$data.max); 
                for(let i=0; i<app.$data.gifts.length;i++){
                        if(totalprice>app.$data.gifts[i].GIF_CONDI){
                          app.$data.max=app.$data.gifts[i];
                          }             
                      }
                   
          }else{
            alert(xhr.status)
          }
        }
        var url = "./php/shoppingcart.php";
        xhr.open("get", url, true);
        xhr.send(null);
        
        
        

      },


    })
  </script>
  <script src="./js/header.js"></script>
</body>
</html>