$red:#7F0020;
$rose:#8D0015;
$tomato:#883030;
$navy:#01041B;
$greyNavy:#2C3342;
$white:#efefef;
$grey1:#afafaf;
$grey2:#787878;
$grey3:#565656;
$grey4:#383838;
$grey5:#292929;
$milkt:#C0A57C;
$cofe:#99825E;
$opacityCofe:rgba(232, 169, 112, .5);
$skin:#935C4D;
$grape:#473243;
$greyGrape:#493F46;
$lightGold:#E1D0A1;
$gold:#EAC669;
$darkGold:#C6B26E;
$pink:#FFCBCC;
$grass:#848484;
$lightGrass:#DEEDCF;
$wood:#3B3333;

