@import './base/var';
@import './mixin/fontStyle';
@import './app/_header_black.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
[v-cloak] {
    opacity: 0;
  }
body {
    background-color: #efefef;
    margin: 0px;
    height: 100vh;
    text-align: center;
    position: relative;
}

.anyl-background {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    @media screen and(max-width: 1199px) {
        width: 100%;
    }
    img {
        width: 100%;
        height: 100%;
    }
}

.anyl-main {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
    }
    .timeBlock {
        position: relative;
        display: flex;
        margin: 5px auto 20px;
        flex-direction: column;
        justify-self: start;
        text-align: center;
        width: 30%;
        margin-top: 100px;
        @media screen and (max-width: 1199px) {
            width: 100%;
            margin-top: 10px;
        }
        ;
        .anylTime {
            display: flex;
            width: 50%;
            margin: 0 auto;
            #dayTimeBlock {
                margin: 10px auto;
                @include font-style(20px, $notoSerif, $wood, $default-fweight) {}
                width: 100px;
                height: 120px;
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                @media screen and (max-width: 1199px) {
                    display: none;
                }
                #dayMonth {
                    font-size: 50px;
                }
                #dayDay {
                    margin-left: 20px;
                }
            }
            img {
                width: 100px;
                height: 100px;
                @media screen and (max-width: 1199px) {
                    display: none;
                }
            }
        }
        .anyl-timeChoose {
            margin: 0px auto;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .choose {
                display: flex;
                justify-content: space-between;
                border: 6px solid $white;
                padding: 15px 20px 45px;
                margin-top: 27px;
                position: relative;
                @media screen and (max-width: 1199px) {
                    justify-content: center;
                    width: 50%;
                    margin-right: 10px;
                    margin-left: 10px;
                    padding: 15px 0px 45px 10px;
                }
                @media screen and (max-width: 400px) {
                 margin: 0;
                 padding: 0;
                }
            }
            .useTime {
                &::before {
                    content: '步驟一';
                    width: 34px;
                    height: 100px;
                    border: 1px solid $white;
                    background-color: $white;
                    position: absolute;
                    left: -42px;
                    top: 0;
                    writing-mode: vertical-rl;
                    text-align: center;
                    @include font-style(20px, $notoSerif, $grey5, ) {}
                    @media screen and (max-width: 1199px) {
                        writing-mode: vertical-lr;
                        width: 100px;
                        height: 34px;
                        left: 0;
                        top: -40px;
                        @media screen and (max-width: 400px) {
                            content: '';
                            width: 0;
                            height: 0;
                        }
                    }
                }
            }
            .seasonTime {
                &::before {
                    content: '步驟二';
                    width: 34px;
                    height: 100px;
                    border: 1px solid $white;
                    background-color: $white;
                    position: absolute;
                    left: -42px;
                    top: 0;
                    writing-mode: vertical-rl;
                    text-align: center;
                    @include font-style(20px, $notoSerif, $grey5, ) {}
                    @media screen and (max-width: 1199px) {
                        writing-mode: vertical-lr;
                        width: 100px;
                        height: 34px;
                        left: 0;
                        top: -40px;
                    }
                    @media screen and (max-width: 400px) {
                        content: '';
                        width: 0;
                        height: 0;
                    }
                }
            }
            @media screen and (max-width: 1199px) {
                flex-direction: row;
            }
            @media screen and(min-width: 1200px) {
                height: 200px;
            }
            // @media screen and(max-width:400px) {
            //     width: 80%;
            // }
            .anyl-button1 {
                width: 40%;
                height: 30%;
                position: relative;
                @include font-style(26px, $notoSerif,) {}
                ;
                @media screen and (max-width: 1199px) {
                    width: 40%;
                    margin-right: 30px;
                }
                @media screen and (max-width: 400px) {
                    margin-right: 10px;
                    
                   }
                height: 50px;
                text-transform: uppercase;
                background: $gold;
                border: none;
                transform-style: preserve-3d;
                transition: transform 150ms linear;
                background :150ms cubic-bezier(0, 0, 0.58, 1);
                cursor: pointer;
                text-decoration: none;
                outline: none;
                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $grey2;
                    border-radius: 0.75em;
                    transform: translate3d(0.25em, 0.25em, -1em);
                    box-shadow: red;
                    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
                }
                &:hover {
                    background: $gold;
                    transform: translate(0, 0.25em);
                    // &::before {
                    //     // box-shadow: 0 0 0 2px $grey1, 0 0.5em 0 0 $grey1;
                    //     transform: translate3d(0.25em, 0.25em, -1em);
                    // }
                }
                &:active {
                    background: $milkt;
                    transform: translate(0em, 0.75em);
                    // &::before {
                    //     // box-shadow: 0 0 0 2px yellow, 0 5 yellow;
                    //     transform: translate3d(0, 0, -1em);
                    // }
                }
            }
        }
    }
}

.anyl-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    width: 70%;
    height: 80%;
    opacity: 1;
    transition: display .5s linear;
    margin-top: 120px;
    @media screen and (min-width: 1200px) {
        width: 100%;
        margin-top: 150px;

    }
    @media screen and (max-width: 1199px) {
        width: 100%;
    }
    @media screen and (max-width: 400px) {
        height:  64%;
    }
    .anyl-product {
        display: flex;
        margin: 12px auto 0;
        width: 500px;
        opacity: 1;
        // transition: all 1s linear ;
        @media screen and(min-width: 1200px) {
            width: 35%;
            margin: 12px auto 0 25px;

        }
        @media screen and(max-width: 767px) {
            width: 80%;
            margin: 12px auto 0;
        }
        .item {
            margin: 10px;
            background-color: $grey1;
            @include circle(120px);
            z-index: 1;
            @media screen and(max-width: 450px) {
                @include circle(60px);
            }
            img {
                width: 100px;
                height: 100px;
                position: relative;
                @media screen and(max-width: 450px) {
                    width: 60px;
                    height: 55px;
                }
            }
        }
        .anyl-shadow {
            width: 430px;
            @include font-style(10px, $notoSerif, black, $default-fweight) {}
            ;
            @media screen and(min-width: 1200px) {
                width: 34%;
                max-width: 450px;
            }
            @media screen and(max-width: 450px) {
                width: 85%;
                height: 80px;
                @include font-style(1px, $notoSerif, black, $default-fweight) {}
            }
            height: 140px;
            border-radius: 75px;
            background-color: rgba(239,239,239,.8);
            position: absolute;
            h1 {
                margin-top: 18px;
                margin-left: 50px;
                @media screen and(max-width: 450px) {
                    margin-left: 30px;
                    margin-top: 10px;
                }
            }
            p {
                @media screen and(max-width: 450px) {
                    @include font-style(10px, $notoSerif, $grey5) {}
                }
            }
            .type{
                .usetime{
                    p{
                    @include font-style(15px, $notoSerif, $grey5) {}
                    @media screen and(max-width:450px){
                        font-size: 10px;
                        
                    }
                }
                }
                .detail{
                    
                    margin-left: 140px;
                    display: flex;
                    @media screen and(max-width: 450px) {
                        @include font-style(10px, $notoSerif, $grey5) {}
                        margin-left: 70px;
                    }
                }
                .memcart{
                    @media screen and(max-width: 450px) {
                        height: 17px;
                        width: 115px;
                    }
                        align-items: center;
                        cursor: pointer;
                        width: 140px;
                        height: 40px;
                        text-align: center;
                        margin-top: 10px;
                        background-color: rgba(239,239,239,.8);
                        border: none;
                        outline: none;
                        transition: background-color 0.5s,color .5;
                        &:hover {
                        background-color: #AE5F5F;
                        // border: 1px solid #AE5F5F;
                        transition: background-color 0.5s,color .5s;
                            p{  
                                color:$white;
                                @media screen and(max-width: 450px) {
                                    @include font-style(12px, $notoSerif, $grey5) {}
                                    margin-top: 0px;
        
                                }
                            }
                        }
                    }
                a{
                    p{
                        @include font-style(15px, $notoSerif, $grey5) {}
                        margin-top: 10px;
                        @media screen and(max-width: 450px) {
                            font-size: 12px;
                            margin-top: 0;

                        }
                    }
                    
                    cursor: pointer;
                    width: 70px;
                    margin-left: 5px;
                    text-align: center;
                    margin-top: 10px;
                    background-color: rgba(239,239,239,.8);
                    border: none;
                    outline: none;
                    transition: background-color 0.5s,color .5s;
                    &:hover {
                    background-color: #AE5F5F;
                    transition: background-color 0.5s,color .5s;
                    color:$white;
                    p{
                        color:$white;
                        }

                    }                
                }
                a:link{
                    text-decoration: none;
                    color:$grey5;
                    
                }
                
                a:active{
                    text-decoration: none;
                    color:$grey5;
                }
                
                a:visited{
                    text-decoration: none;
                    color:$grey5;
                }
            }
        }
    }
}

.anyl-button {
    @media screen and (max-width: 1199px) {
        display: none;
    }
    @include font-style(30px, $notoSerif, black, $default-fweight) {}
    line-height: 15px;
    width: 20%;
    height: 35vh;
    position: absolute;
    bottom: 0;
    right: 0px;
    background-color: $skin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        margin: 25px;
    }
}

.anyl-button2 {
    @media screen and (min-width: 1199px) {
        display: none;
    }
    writing-mode: vertical-rl;
    @include font-style(22px, $notoSerif, black, $default-fweight) {}
    position: fixed;
    right: -15px;
    top: 40%;
    width: 80px;
    height: 200px;
    margin: 10px auto;
    z-index: 1;
    background-color: $skin;
    a {
        margin-top: 15px;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width: 1200px) {
                margin: 25px;
            }
        }
    }
    @media screen and (max-width: 400px) {
        width: 60px;
        height: 150px;
        font-size: 15px;
    
    }
}