@import './base/var';
@import './mixin/fontStyle';
@import './app/header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $white;
    margin: 0px;
    text-align: center;
    background-image: url("../image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.anyl-main {
    margin: 100px auto 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    @media screen and(min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    
    .timeBlock {
        position: relative;
        margin-top: 20px;
        @media screen and(min-width:1200px) {
            height: 800px;    
        }
        
        .anyl-timeChoose {
            margin: 0 auto;
            width: 90%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (min-width: 768px) {
                width: 600px;
            }
            @media screen and(min-width: 1200px) {
                width: 300px;
                height: 200px;
            }
            .anyl-button1 {
                background-color: $darkGold;
                border: 1px solid $darkGold;
                font-size: 15px;
                color: rgb(238, 238, 238);
                width: 20%;
                height: 50px;
                border-radius: 15px;
                cursor: pointer;
                transition: box-shadow 0.3s;
                @media screen and (min-width: 768px) {
                    width: 130px;
                    font-size: 20px;
                    height: 65px;
                }
                &:hover {
                    box-shadow: 15px 15px 15px rgb(59, 59, 59);
                    transition: box-shadow 0.3s;
                    border: 1px solid $darkGold;
                }
                &:active {
                    outline: none;
                    transition: box-shadow 0.3s;
                    box-shadow: none;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.anyl-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    .even {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
            width: 350px;
            left: 50%;
        }
        @media screen and (min-width: 1200px) {
            position: relative;
            width: 350px;
            left: 100%;
        }
    }
    // .odd {}
    .anyl-product {
        display: flex;
        margin: 12px 0 0 10px;
        .item {
            margin: 10px;
            background-color: $grey2;
            @include circle(120px);
            &:hover+.anyl-shadow {
                width: 350px;
                transition: width 0.5s linear, visibility 0.5s linear;
                h1 {
                    visibility: visible;
                }
            }
            img {
                width: 100px;
                height: 100px;
                position: relative;
            }
        }
        .anyl-shadow {
            width: 50px;
            height: 50px;
            background-color: $grey1;
            @include circle(140px);
            position: absolute;
            z-index: -1;
            transition: width 0.5s linear, visibility 0.5s linear;
            h1 {
                margin-top: 18px;
                font-size: 20px;
            }
        }
    }
}

#dayTimeBlock {
    font-size: 30px;
    color: $red;
    width: 200px;
    height: 120px;
    margin-left: 150px;
    margin-top: 10px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 50%;
    }
    div {
        width: 100px;
    }
    #dayYear {
        display: none;
    }
    #dayMonth {
        font-size: 50px;
    }
    #dayDay {
        margin-left: 20px;
    }
    #dayHour {
        // position: absolute;
        left: 80px;
        display: none;
    }
}

.anyl-button {
    @media screen and (min-width:1200px){
     
    width: 280px;
    height:120px;   
    }
    width: 200px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: $skin;
    a{  margin-top:15px ;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width:1200px){
     
            margin: 25px;
                }
        }
    }
}