@import './base/var';
@import './mixin/fontStyle';
@import './app/header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: $grey1;
    margin: 0px;
    text-align: center;
    background-image: url("../image/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.anyl-main {
    margin: 100px auto 0;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    @media screen and(min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }
    
    .timeBlock {
        position: relative;
        margin-top: 20px;
        @media screen and(min-width:1200px) {
            height: 600px;    
        }
        
        .anyl-timeChoose {
            margin: 0px auto;
            width: 70%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (min-width: 768px) {
                width: 500px;
            }
            @media screen and(min-width: 1200px) {
                width: 300px;
                height: 200px;
            }
            @media screen and(max-width:400px){
                width: 80%;
            }
            .anyl-button1 {
                    width:120px;
                    height: 50px;
                    font-size: 18   px;
                    // font-family: ;
                    margin-top: 20px;
                    font-weight: 600;
                    color: $grey5;
                    text-transform: uppercase;
                    // padding: 1.25em 2em;
                    background: $gold;
                    border: 2px solid $cofe;
                    border-radius: 0.75em;
                    transform-style: preserve-3d;
                    transition: transform 150ms linear, background 150ms cubic-bezier(0, 0, 0.58, 1);
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;

                    // &:focus{
                    //     border: 2px solid greenyellow;
                    // }
                    &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $grey2    ;
                    border-radius: inherit;
                    // box-shadow: 0 0 0 2px $grey1, 0 0.625em 0 0 $grey1;
                    transform: translate3d(0, 0.75em, -1em);
                    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
                    }
                    &:hover {
                    background: $gold;
                    transform: translate(0, 0.25em);
                    &::before {
                        // box-shadow: 0 0 0 2px $grey1, 0 0.5em 0 0 $grey1;
                        transform: translate3d(0, 0.5em, -1em);
                    }
                    }
                    &:active {
                    background: $milkt;
                    transform: translate(0em, 0.75em);
                    &::before {
                        // box-shadow: 0 0 0 2px yellow, 0 5 yellow;
                        transform: translate3d(0, 0, -1em);
                    }
                }
            }
        }
    }
}

.anyl-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 15px;
    .even {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            position: relative;
            width: 350px;
            left: 50%;
        }
        @media screen and (min-width: 1200px) {
            position: relative;
            width: 350px;
            left: 100%;
        }
    }
    // .odd {}
    .anyl-product {
        display: flex;
        margin: 12px 0 0 10px;
        .item {
            margin: 10px;
            background-color: $grey1;
            @include circle(120px);
            
            img {
                width: 100px;
                height: 100px;
                position: relative;
            }
        }
        .anyl-shadow {
            width: 450px;
            height: 140px;
            border-radius: 75px;
            background-color: $white;
            // @include circle(140px);
            position: absolute;
            z-index: -1;
            transition: width 0.5s linear, visibility 0.5s linear;
            h1 {
                margin-top: 18px;
                font-size: 20px;
                
            }
            
        }
    }
}

#dayTimeBlock {
    font-size: 30px;
    color: $red;
    width: 200px;
    height: 120px;
    margin-left: 150px;
    margin-top: 10px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 20%;
    }
    div {
        width: 100px;
    }
    #dayYear {
        display: none;
    }
    #dayMonth {
        font-size: 50px;
    }
    #dayDay {
        margin-left: 20px;
    }
    #dayHour {
        // position: absolute;
        left: 80px;
        display: none;
    }
}

.anyl-button {
    @media screen and (min-width:767px){
    
    width: 240px;
    height:100px;   
    line-height: 40px;
    }
    @media screen and (max-width:768px){
        display: none;
        

        }
    @media screen and (min-width:1200px){
        line-height: 15px;
    }
    width: 200px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: $skin;
    a{  margin-top:15px ;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width:1200px){
     
            margin: 25px;
                }
        }
    }
}
.anyl-button2 {
    @media screen and (min-width:767px){
    display: none;
    width: 280px;
    height:120px;   
    }
    width: 200px;
    height: 80px;
    margin: 10px auto;
    
    
    background-color: $skin;
    a{  margin-top:15px ;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width:1200px){
     
            margin: 25px;
                }
        }
    }
}