@import './base/var';
@import './mixin/fontStyle';
@import './app/_header_black.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #efefef;
    margin: 0px;
    height: 100vh;
    text-align: center;
    // background-image: url("../image/background2.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    position: relative;
    // height: 937px;
    
}
.anyl-background{
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    @media screen and(max-width:1199px){
        width: 100%;
    }
    // background-image: url("../image/background2.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    img{
        width: 100%;
        height: 100%;
    }
}
.anyl-main {
    
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media screen and(min-width: 1200px) {
        flex-direction: row;
        justify-content: space-between;
        
    }
    
    .timeBlock {
        position: relative;
        display: flex;
        margin: 5px auto 20px;
        flex-direction: column;
        justify-self: start;
        @media screen and(min-width:1200px) {
        }
        
        .anyl-timeChoose {
            margin: 0px auto;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @media screen and (min-width: 768px) {
                width: 500px;
            }
            @media screen and(min-width: 1200px) {
                width: 300px;
                height: 200px;
            }
            @media screen and(max-width:400px){
                width: 80%;
            }
            .anyl-button1 {
                width: 40%;
                height: 30%;
                    @media screen and(max-width:767px){
                        width: 100px;
                        margin-left:10px;
                    }
                    height: 50px;
                    font-size: 18   px;
                    // font-family: ;
                    
                    margin-top: 20px;
                    font-weight: 600;
                    color: $grey5;
                    text-transform: uppercase;
                    // padding: 1.25em 2em;
                    background: $gold;
                    border: 2px solid $cofe;
                    border-radius: 0.75em;
                    transform-style: preserve-3d;
                    transition: transform 150ms linear, background 150ms cubic-bezier(0, 0, 0.58, 1);
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;

                    // &:focus{
                    //     border: 2px solid greenyellow;
                    // }
                    &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: $grey2    ;
                    border-radius: inherit;
                    // box-shadow: 0 0 0 2px $grey1, 0 0.625em 0 0 $grey1;
                    transform: translate3d(0, 0.75em, -1em);
                    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
                    }
                    &:hover {
                    background: $gold;
                    transform: translate(0, 0.25em);
                    &::before {
                        // box-shadow: 0 0 0 2px $grey1, 0 0.5em 0 0 $grey1;
                        transform: translate3d(0, 0.5em, -1em);
                    }
                    }
                    &:active {
                    background: $milkt;
                    transform: translate(0em, 0.75em);
                    &::before {
                        // box-shadow: 0 0 0 2px yellow, 0 5 yellow;
                        transform: translate3d(0, 0, -1em);
                    }
                }
            }
        }
    }
}

.anyl-item {
    // display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 2%;
    margin-bottom: 10px;
    margin-top: 150px; 

    opacity: 1;
    transition: display .5s linear;
    

    @media screen and (min-width:1200px){
        margin-left: 20%;
        margin-right: auto;
    }
    .even {
        
        @media screen and (min-width: 1200px) {
            position: relative;
            width: 350px;
        }
    }
    // .odd {}
    .anyl-product {
        display: flex;
        margin: 12px auto 0 ;
        width: 500px;
        @media screen and(max-width:767px){
            width: 80%;
            margin: 12px auto 0;
        }
        .item {
            margin: 10px;
            background-color: $grey1;
            @include circle(120px);
            z-index: 1;
            
            img {
                width: 100px;
                height: 100px;
                position: relative;
            }
        }
        .anyl-shadow {
            width: 450px;
            opacity: .8;
            @media screen and(max-width:500px){
                width:80%;
            }
            height: 140px;
            border-radius: 75px;
            background-color: $white;
            // @include circle(140px);
            position: absolute;
            
            // transition: width 0.5s linear, visibility 0.5s linear;
            h1 {
                margin-top: 18px;
                font-size: 20px;
                font-family: "Noto Serif TC", serif;
                
                
            }
            
        }
    }
}

#dayTimeBlock {
    font-size: 30px;
    color: $red;
    width: 100px;
    height: 120px;
    margin-top: 10px;
    @media screen and (max-width: 1199px) {
        display: none;
    }
    div {
        width: 100px;
    }
    #dayYear {
        display: none;
    }
    #dayMonth {
        font-size: 50px;
    }
    #dayDay {
        margin-left: 20px;
    }
    #dayHour {
        // position: absolute;
        left: 80px;
        display: none;
    }
}

.anyl-button {
    
    @media screen and (max-width:1199px){
        display: none;
        

        }
        line-height: 15px;
    
    width: 20%;
    height: 35vh;
    position: absolute;
    bottom: 0;
    right:  0px;
    background-color: $skin;
    display: flex;
    justify-content: center;
    align-items: center;
    a{  margin-top:15px ;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width:1200px){
     
            margin: 25px;
                }
        }
    }
}
.anyl-button2 {
    @media screen and (min-width:1199px){
    display: none;
    }
    position: fixed;
    right: 0;
    top: 40%;
    width: 80px;
    height: 200px;
    margin: 10px auto;
    z-index: 1;
    
    
    
    
    background-color: $skin;
    a{  margin-top:15px ;
        color: white;
        text-decoration: none;
        text-align: center;
        &:active {
            color: white;
        }
        &:focus {
            color: white;
        }
        &:visited {
            color: white
        }
        p {
            margin: 5px;
            @media screen and (min-width:1200px){
     
            margin: 25px;
                }
        }
    }
}
#item1{
    display: none;
}
#item2{
    display: none;
}

#item3{
    display: none;
}

#item4{
    display: none;
}
