@import './app/header';

#ham{
    display: none;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darken(#2c3342, 8);
    z-index: -1;
    overflow: hidden;

    .wrapTexture {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../image/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .06;
        z-index: -1;
    }
}

main{
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    aside{
        border: 1px solid green;
        width: 20%;
        height: 100%;
        min-width: 200px;
    }

    section{
        // border: 1px solid goldenrod;
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;

        .contentBox{
            border: 4px double rgba($cofe, .5);
            width: 1000px;
            height: 85vh;
        }
    }
    
}