@import './app/header';

#ham{
    display: none;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darken(#2c3342, 8);
    z-index: -1;
    overflow: hidden;

    .wrapTexture {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../image/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .06;
        z-index: -1;
    }
}

main{
    // border: 1px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;

    .menu{
        // border: 1px solid green;
        width: 18%;
        height: 100%;
        min-width: 200px;
        position: absolute;
        left: -100%;
        top: 0;

        @include m-pad(){
            min-width: 250px;
        }

        .subjectBox{
            width: 80%;
            height: 100%;
            background-color: rgba($navy, .2);
            border-right: 1px solid rgba($cofe,.4);
            padding-top: 140px;
            position: relative;

            @include l-phone(){
                padding-top: 15vh;
            }

            .sub{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 8%;
                cursor: pointer;
                border-bottom: 1px solid $cofe;
                @include font-style(){
                    color: rgba($lightGold, .8);
                    font-size: 16px;
                }
                &:first-of-type{
                    border-top: 1px solid $cofe;
                }
                &:hover{
                    background-color: $wood;
                }

                @include l-pad(){
                    font-size: 14px;
                }
            }

            .activeSub{
                background-color: $wood !important;
            }

            .log{
                position: absolute;
                left: 50%;
                bottom: 60px;
                transform: translateX(-50%);
                border-bottom: 1px solid rgba($lightGold, .8);
                cursor: pointer;
                @include font-style(){
                    color: rgba($lightGold, .8);
                    font-size: 16px;
                }
                &:hover{
                    color: rgba($darkGold, .8);
                    border-bottom: 1px solid rgba($darkGold, .8);
                }
            }
        }

    }

    .menuOut{
        left:0;
    }


    section{
        // border: 1px solid goldenrod;
        width: 60%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        @include m-pad(){
            width: 80%;
        }
        @include l-phone(){
            width: 90%;
        }

        .contentBox{
            border: 4px double rgba($cofe, .5);
            width: 100%;
            height: 85vh;

            h2{
                @include font-style(){}
            }
        }
    }
    
}