@import './base/var';
@import './mixin/breakpoint';
@import './mixin/fontStyle';

#pagepiling {
    .pg1 {

        .layer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $red;
            clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgba($lightGold, .3);
                position: absolute;
                top: 50%;
            }

            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 1.5px;
                background-color: rgba($darkGold, .2);
                position: absolute;
                top: 50.8%;
            }

            span:nth-child(1){
                border: 1px solid rgba($lightGold, .6);
                width: 35px;
                height: 35px;
                border-radius: 100%;
                position: absolute;
                bottom: 50px;
                left: 50%;
                transform: translateX(-50%);
                @include font-style(14px,$CG, rgba($lightGold, .6), 300){};

                &::before {
                    content: '';
                    display: block;
                    width: 50%;
                    height: 50%;
                    border-radius: 100%;
                    background-color: rgba($lightGold, .2);
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    animation: breath 6s ease infinite both;

                    @keyframes breath{
                        0%{
                            width: 40%;
                            height: 40%;
                        }
                        50%{
                            width: 80%;
                            height: 80%;
                        }
                        100%{
                            width: 40%;
                            height: 40%;
                        }
                    }
                }
                &::after{
                    content: '';
                    display: block;
                    height: 300%;
                    border: 0.5px solid rgba($lightGold, .3);
                    position: absolute;
                    top:75%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            span:nth-child(2){
                display: block;
                width: 54%;
                height: 56%;
                border: 1px solid rgba($lightGold, .3);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }
        }

        .mask {
            // border:1px solid black;
            width: 50%;
            height: 51%;
            margin: 0 auto;
            background-color: rgba($red, .9);
            -webkit-mask: url(../image/mask.png) no-repeat center center;
            mask: url(../image/mask.png) no-repeat center center;
            -webkit-mask-size: cover;
            mask-size: cover;
            z-index: 99;
            position: relative;

            span {
                @include font-style(20px,$CG, rgba($lightGold, .6)) {}

                display: block;
                position: absolute;
                left: 50%;
                top: 60%;
                transform: translateX(-50%) translateY(0%);
                z-index: 999;
                width: 55%;
                height: 40%;
                border-top: 1px solid rgba($lightGold, .4);
                text-align: center;
                padding-top: 15px;
            }
        }
    }

    .pg2 {
        background-image: url(../image/landIMG.jpg);
        background-repeat: no-repeat;
        background-size: cover;


        h2 {
            @include font-style() {}
        }
    }

    .pg3 {
        background-color: #000;

        h2 {
            @include font-style() {}
        }
    }

    .pg4 {
        background-color: $navy;

        h2 {
            @include font-style() {}
        }
    }

    .pg5 {
        background-color: $milkt;

        h2 {
            @include font-style() {}
        }
    }

    .pg6 {
        background-color: $skin;

        h2 {
            @include font-style() {}
        }
    }

    .pg7 {
        background-color: $grey3;

        h2 {
            @include font-style() {}
        }
    }

    .pg8 {
        background-color: $grey3;

        h2 {
            @include font-style() {}
        }
    }
}

#pp-nav li .active span,
.pp-slidesNav .active span {
    background-color: #efefef;
}