@import "./mixin/fontStyle";
@import "./app/header";
@import "./animate/closeanimate";
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  //background: linear-gradient(135deg,#493F46 60%,#493F46 00%);
  
  
}

header{
    z-index: 998;
}

#out{
    width:100vw;
    height: 100%;
    
    
    .back-text{
        position: fixed;
        /*border:1px solid white;*/
        color: #EFEFEF;
        opacity: 0.1;
        transform: translate(15%, 100%);

        h1{
            margin-bottom: 30px;
            font-family: Cormorant Garamond;
        }
        
        

    }
    
    
    
}
.out {
    height: 100%;
    
    
    
}
.main-out{
    display: flex;
    float: left;
    height: 100%;
    background: #493F46;
}
footer{
    height: 100%;
    width:300px;
    background: linear-gradient(135deg, #5b6264 0, #b9e0e6 60%);
    z-index: 10;
}
.main {
    
    height:100%;
    display: flex;
    flex-direction: column;
    
    
    

    
    
    
    
    .content{
        height: calc(100% - 60px);
        display: flex;
        padding-right: 100px;
        
    }
    
    
    
    
    .intro{
        //border: 1px solid blue;
        width:35vw;
        min-width: 450px;
        height:100%;
        
       .intro-text{
           width:100%;
           height:40%;
           //border: 1px solid red;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: column;
           h2{
               margin-bottom: 20px;
               color: #EFEFEF;
           }
           p{
               width:350px;
               color: #EFEFEF;
               line-height: 1.5;
           }




        }
        .intro-image{
            height:60%;
           //border: 1px solid rgb(66, 163, 47);
           position: relative;
           span{

            position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                //border: 1px solid rgb(66, 163, 47);
                width:50%;
                height:80%;
                .img-1{
                    position: absolute;
                    top:0;
                    left:0;
                    width:50%;
                    overflow: hidden;
                    //border: 1px solid white;
                    .img-1-b{
                        
                        display: block;
                        padding-top: 100%;
                        overflow: hidden;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 200%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }

                }
                .img-2{
                    position: absolute;
                    top:5%;
                    right:0;
                    width:60%;
                    overflow: hidden;
                    //border: 1px solid white;
                    .img-2-b{
                        overflow: hidden;
                        display: block;
                        padding-top: 150%;
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 200%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }

                }
               
           }

        }

    }

    .contain{
        display: flex;
    float: left;

    }
    .contain-in{
        display: flex;
    float: left;

    }

    .adv{
        //border: 1px solid black;
        width:30vw;
        min-width: 350px;
        height:100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        .adv-card{
            height: 35vh;
            min-height: 200px;
            width:30vh;
                min-width: 180px;
                background: linear-gradient(135deg, #4ab9e1 0, #b9e0e6 60%);
            
            //border: 1px solid green;
            position: relative;

        }
        

    }

    .cardouter {
        //border: 1px solid black;
        width:30vw;
        min-width: 350px;
        height:100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        
        

        
        .card {
            height: 40vh;
            min-height: 280px;
            width: 35vh;
            min-width: 220px;
            background: linear-gradient(135deg, #4ab9e1 0, #b9e0e6 60%);
            z-index: 1;
            //border: 1px solid green;
            position: relative;
            left: 10%;

            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;


            /*折扣*/
            .pro-discount{
                
                color: #b74949;
                position: absolute;
                top: 0;
                right: 0px;
                z-index: 6;
                transform: translate(40%, -50%);
                &::first-letter{
                    font-size: 1.5em;
                }


            }
            
            


            &::after{
                content: "";
                position: absolute;
                top:0;
                left: 0;
                width:100%;
                height: 100%;
                background-color: #493f4683;
                
                transition: 2s;
               

                
            }

            &:hover::after{
                
                opacity: 0;
                

            }

            img{
                position: absolute;
                width:100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
                top: 0;
                left: 0;
            }
            

            span {
                //border: 1px solid black;
                z-index: 3;

                position: absolute;
                top:50%;
                left:50%;
                
                transform: translate(-110%, 30%);

                white-space:nowrap;
                h2{
                    color: #FFCBCC;
                }
                p{
                    margin-bottom: 16px;
                    color: #FFCBCC;
                }
                h4{
                    color: #FFCBCC;
                    text-align: center;
                }
                
            }
        }
    }
    
}

/*以下為滑鼠動畫*/
.mouse {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #bd83838f;
    display: none;
    transform: translate(-50%, -50%) scale(1.5);
    border-radius: 60px;
    animation-name: mouse-ani;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
   
    

}
@keyframes mouse-ani{
    0%{
        transform: translate(-50%, -50%) scale(1.5);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);

    }
}

.mouse-block {
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    //border: 1px solid #ccc;
    z-index: 10;
    
    overflow: hidden;
}
.bigAni {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    animation-duration: 2.5s;
    animation-name: bigfull;
    animation-fill-mode : forwards;
    border-radius: 60px;
    background: #493F46;
    


}

@keyframes bigfull {
    from {
        
        left: 0;
    }

    to {
        transform: scale(50);
    }
}

/*以下為RWD*/
@media screen and (min-width:767px){

    .cardouter:nth-child(2n){
        .card{
            bottom:5%;
        position: relative;

        }
        
    }

    

}
@media screen and (min-width:525px){
    .main{
        float: left;
        .select{
            width:60px;
            height: 100%;
            //border: 1px solid green;

        }
        .adv{
            display: none;
        }
        
        
    }
    #out{
        width:100%;
        height: 100%;
        
        
        
    }
    .content{
        margin-top: 100px;
    }


    
}

@media screen and (max-width:525px){
    .main{
        flex-direction: column;

        header{
            position: fixed;
        }
        .adv{
            display: none;
        }
        .intro{
            width:100%;
            position: fixed;
            height:150px;
            margin-top: 90px;
            
            
            .intro-text{
                height:100%;
            }
            .intro-image{
                display: none;
            }
            
        }
        .content{
            height: 100%;
        .contain{
            
            height:100%;
            display: flex;
            flex-direction: column-reverse;
            .contain-in{
                height:calc(100% - 190px);

            }
           
            
        }
    }
        
    }

    #out{
        width:100vw;
        
        
        
        
    }
    

    .main .cardouter .card{
        left:25%;
        
    }
}
