@import './app/_header_black.scss';
body {
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    position: relative;
    padding: 16px;
    height: 40vh;
    z-index: 1;
    background-color: #292929;
}
.container h1 {
    color: #efefef;
    margin: 10px;
}
.container p {
    color: #efefef;
    margin: 20px 10px 20px 10px;
}
.container > div .btn2-1 {
    margin: 10px;
    width: 40%;
    outline: none;
    position: relative;
    font-size: 16px;
    color: #626262;
    background: transparent;
    border: 1px solid #626262;
    padding: 10px 15px;
    z-index: 20;
}
.container > div .btn2-1:hover {
    color: #efefef;
    cursor: pointer;
}
.container > div .btn2-1:hover:after {
    background-color: #626262;
    border: 1px solid #626262;
    width: 99%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.container > div .btn2-1:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
    background-color: #626262;
    width: 0%;
    height: 100%;
}
.container > div .btn3-1 {
    outline: none;
    width: 40%;
    margin: 10px;
    position: relative;
    font-size: 16px;
    color: #883030;
    background: transparent;
    border: 1px solid #883030;
    padding: 10px 15px;
    z-index: 20;
}
.container > div .btn3-1:hover {
    color: #efefef;
    cursor: pointer;
}
.container > div .btn3-1:hover:after {
    background-color: #883030;
    border: 1px solid #883030;
    width: 99%;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}
.container > div .btn3-1:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
    background-color: #883030;
    width: 0%;
    height: 100%;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 999;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #efefef;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #989898;
    width: 350px;
    /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media screen and (min-width: 1356px) {
    .listTitle {
        display: none;
    }
}

@media screen and (max-width: 1356px) {
    #first {
        display: none;
    }
    .scroll {
        overflow-x: scroll;
    }
    #third {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    #third {
        display: none;
    }
    .bg > div:nth-child(2) {
        width: 618px;
        margin: 0 auto;
    }
}

section.M_background {
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-color: #efefef;
    p.M_bgf {
        position: absolute;
        right: 18%;
        top: 15%;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        font-family: "Noto Sans TC", sans-serif;
        font-weight: 800;
        letter-spacing: 0.25rem;
        font-size: 12rem;
        z-index: 1;
        -webkit-text-stroke: 2px #dadada;
        color: transparent;
        z-index: 1;
        margin: 0 1em;
    }
    span {
        opacity: 0;
        transition: all 0.7s ease;
        transform: translateX(-50px);
        display: inline-block;
    }
    span.M_fade {
        opacity: 1;
        transform: translateX(0px);
    }
    .M_line {
        width: 1rem;
        height: 70vh;
        right: 26%;
        border: 2px solid #dadada;
        border-top: none;
        // background-color: #e4e4e4;
        position: absolute;
    }
}

main.M_makeup {
    display: flex;
    align-items: center;
}

.M_left {
    // border: 1px solid red;
    width: 25%;
    height: 100vh;
    @extend main.M_makeup;
    .M_catalog {
        // border: 1px solid yellow;
        width: 65%;
        height: 100vh;
        background: #292929;
        display: flex;
        flex-direction: column;
        justify-content: center;
        button.M_opt {
            margin: 10% 0 10% 0;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 2rem;
            padding: 10%;
            font-family: "Noto Serif TC", serif;
            font-weight: 800;
            color: #999999;
            transition: 200ms ease-in-out;
            position: relative;
            z-index: 1;
            &::after {
                content: "";
                width: 0;
                height: 3rem;
                z-index: -1;
                background-color: #141414;
                position: absolute;
                transition: width 500ms ease-in-out;
            }
            &::after {
                right: 0;
                bottom: 0;
            }
            &:hover::after {
                width: 80%;
            }
        }
        .M_active {
            @extend button.M_opt;
            color: #ffffff !important;
        }
    }

    .M_option {
        // border: 1px solid green;
        width: 35%;
        height: 100vh;
        background: #141414;
        // overflow-y: scroll;
        .M_optionGroup {
            // border: 1px solid blue;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            button.M_btn {
                background: transparent;
                outline: none;
                border: none;
                cursor: pointer;
                filter: brightness(0.65);
                transition: 500ms ease-in-out;
                &:hover {
                    filter: brightness(1);
                }
            }
            .M_lipsticksSer {
                // border: 1px solid red;
                overflow-y: scroll;
                margin: 0;
                height: 99vh;
                width: 90%;
                padding: 0;
                color: #efefef;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-evenly;
                li {
                    list-style: none;
                    border: 2px solid #141414;
                    button.M_control {
                        font-family: "Noto Serif TC", serif;
                        font-size: 1rem;
                        color: #999999;
                        letter-spacing: 0.2rem;
                        cursor: pointer;
                        width: 100%;
                        height: 9vh;
                        border: none;
                        outline: none;
                        background: #292929;
                    }
                    .M_btn_panel_active {
                        color: #efefef !important;
                    }
                    .M_seriesPanel {
                        display: none;
                        border: 2px solid #292929;
                    }
                }
            }
            .M_lipsticksSer::-webkit-scrollbar-track {
                background-color: #6d6d6d62;
            }

            .M_lipsticksSer::-webkit-scrollbar {
                margin-left: 3px;
                width: 5px;
                background-color: #1a1a1a;
            }

            .M_lipsticksSer::-webkit-scrollbar-thumb {
                background-color: #292929;
            }

            .M_pcColor {
                // border: 1px solid blueviolet;
                border: 2px solid #ffffffd2;
                border-radius: 50%;
                cursor: pointer;
                width: 75px;
                height: 75px;
                margin: 20% auto;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .M_pcnone {
                color: #dadada;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: 2px solid #ffffffd2;
                border-radius: 50%;
                cursor: pointer;
                width: 75px;
                height: 75px;
                margin: 20% auto;
            }
        }
        button.M_btnSec {
            @extend button.M_btn;
            // width: 60%;
            // border: 1px solid red;
            color: white;
            font-size: 1.2rem;
            letter-spacing: 0.1rem;
            font-family: "Noto Serif TC", serif;
        }
    }
}

.M_middle {
    // border: 1px solid purple;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    .M_img {
        // border: 1px solid red;
        width: 65%;
        margin-bottom: 1.5%;
    }
    .M_imggrop {
        // border: 1px solid red;
        // align-self: center;
        margin-bottom: 1.5%;
        text-align: center;
        width: 100%;
        .M_imagecus {
            // border: 1px solid blue;
            // position: relative;
            // outline: 2px solid #626262;
            // width: 65%;
            // height: 80vh;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .M_text {
                position: absolute;
                z-index: -1;
                color: #8f8f8f;
                letter-spacing: 0.25rem;
                font-size: 1.5rem;
                font-family: "Noto Serif TC", serif;
            }
            #M_delete {
                position: absolute;
                z-index: 100;
                right: 5%;
                top: 5%;
                width: 30px;
                cursor: pointer;
                color: #5a5a5a;
                transition: 0.5s ease-in-out;
                &:hover {
                    color: #141414;
                }
            }
            canvas.M_canvas {
                // position: absolute;
                // outline: 2px solid #626262;
                // width: 65%;
                // height: 80vh;
                cursor: crosshair;
                z-index: 99;
                display: inline-block;
            }
        }
        #M_customBtn {
            background: #292929;
            color: #efefef;
            border: none;
            outline: none;
            font-size: 1.5rem;
            margin-top: 1%;
            letter-spacing: 0.25rem;
            width: 65%;
            cursor: pointer;
            font-family: "Noto Serif TC", serif;
        }
    }
}

.M_right {
    // border: 1px solid blue;
    width: 25%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    h1.M_title {
        color: #292929;
        letter-spacing: 0.25rem;
        font-family: "Noto Serif TC", serif;
        margin: 1em 0;
    }
    h3.M_titleSec {
        letter-spacing: 0.25rem;
        font-family: "Noto Serif TC", serif;
        margin: 1em 0;
    }
    p.M_detail {
        color: #292929;
        margin: 1em 0;
    }
    .M_content {
        // border: 1px solid red;
        padding: 0 6.5% 0 6.5%;
    }
    .M_contentbtn {
        width: 40%;
        font-family: "Noto Serif TC", serif;
        letter-spacing: 0.25rem;
        background: transparent;
        outline: none;
        border: 2px solid #626262;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 2% 2.5%;
    }
    .M_group {
        width: 100%;
        margin: 3% 0 3% 0;
        // border: 1px solid green;
        display: flex;
        justify-content: space-evenly;
        button.M_social {
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            color: #626262;
            transition: 500ms ease-in-out;
            &:hover {
                color: #989898;
            }
        }
    }
}
.M_rightgroup {
    display: none;
}

@media (max-width: 1537px) {
    .M_rightgroup {
        display: none;
    }

    .M_middle {
        .M_img {
            // border: 1px solid red;
            width: 60%;
            margin-bottom: 1.5%;
        }
    }
    .M_left .M_option button.M_btnSec {
        width: 100%;
        padding: 0;
    }
    .M_right .M_contentbtn {
        width: 45%;
        padding: 2% 0;
        font-size: 1.2rem;
    }
    section.M_background {
        p.M_bgf {
            right: 15%;
            top: 5%;
            letter-spacing: 0.25rem;
            font-size: 10.5rem;
        }
        .M_right .M_group button.M_social {
            font-size: 10px;
        }

        .M_right h3.M_titleSec {
            letter-spacing: 0.25rem;
            margin: 0.5rem 0;
        }
    }
    .M_right .M_group {
        margin: 2% 0 2% 0;
    }
    .M_right p.M_detail {
        margin: 0.5rem 0;
    }
    canvas.M_canvas {
        width: 500px;
        height: 580px;
        cursor: crosshair;
        z-index: 99;
        display: inline-block;
    }

}

@media (max-width: 1200px) {
    .M_rightgroup {
        display: none;
    }

    button.M_btnSec {
        width: 100%;
        padding: 0;
    }
    .M_right .M_contentbtn {
        width: 45%;
        padding: 2% 0;
    }

    .M_left .M_option button.M_btnSec {
        font-size: 1.2rem;
        width: 100%;
        padding: 0;
    }
    section.M_background {
        p.M_bgf {
            right: 16%;
            top: 10%;
            font-size: 8rem;
        }
    }
    .M_left .M_catalog button.M_opt {
        font-size: 1.5rem;
        padding: 8%;
        margin: 10% 0 10% 0;
        padding: 10%;
        &::after {
            height: 2rem;
        }
    }
}

@media (max-width: 1024px) {
    .M_rightgroup {
        display: none;
    }

    .M_middle {
        .M_img {
            width: 75%;
        }
    }
    button.M_btnSec {
        width: 100%;
        padding: 0;
    }
    .M_right .M_contentbtn {
        font-size: 1rem;
        width: 45%;
        padding: 2% 0;
    }

    .M_left .M_option button.M_btnSec {
        font-size: 1rem;
    }
    section.M_background {
        p.M_bgf {
            right: 16%;
            top: 10%;
            font-size: 7.5rem;
        }
    }
    .M_left .M_catalog button.M_opt {
        font-size: 1.5rem;
        padding: 8%;
        margin: 10% 0 10% 0;
        padding: 3%;
        &::after {
            height: 2rem;
        }
    }
    .M_right h1.M_title {
        margin: 0.5rem 0;
    }
}

@media (max-width: 768px) {
    .M_rightgroup {
        width: 60px;
        height: 100px;
        position: absolute;
        top: 150px;
        right: 0;
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 95;
        .M_shoppingBag {
            color: #292929;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    section.M_background {
        height: 100vh;
    }
    .M_bgf {
        display: none;
    }
    .M_line {
        display: none;
    }
    main.M_makeup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .M_left {
        order: 1;
        // border: 1px solid red;
        width: 100%;
        height: 30vh;
        .M_catalog {
            // border: 1px solid yellow;
            width: 100%;
            height: 10vh;
            background: #292929;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            button.M_opt {
                margin: 0 3%;
                padding: 0;
                z-index: 1;
                &::after {
                    display: none;
                    content: "";
                    width: 0;
                    height: 0;
                    z-index: -1;
                }
            }
        }
        .M_option {
            width: 100%;
            height: 20vh;
            button.M_btnSec {
                margin: 0 5px;
            }
            .M_optionGroup {
                // border: 1px solid blue;
                height: 20vh;
                width: 100%;
                flex-direction: row;
                .M_lipsticksSer {
                    // border: 1px solid red;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    margin: 0;
                    height: 15vh;
                    width: 98%;
                    padding: 0;
                    display: flex !important;
                    flex-direction: row;
                    li.M_menu {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        button.M_control {
                            font-size: 1rem;
                            letter-spacing: 0.2rem;
                            width: 150px;
                            height: 9.5vh;
                        }
                    }

                    .M_seriesPanel {
                        display: flex !important;
                        flex-direction: row;
                        height: 9.5vh;
                        .M_pcColor {
                            width: 50px;
                            height: 50px;
                            margin: auto 0.5%;
                            font-size: 10px;
                        }
                        .M_pcnone {
                            font-size: 12px;
                            width: 50px;
                            height: 50px;
                            margin: auto 0.5%;
                        }
                    }
                }
            }
        }
    }

    .M_middle {
        // border: 1px solid purple;
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        z-index: 1;
        .M_img {
            // border: 1px solid red;
            width: 50%;
            margin-bottom: 1.5%;
        }
        .M_imggrop {
            // border: 1px solid red;
            margin-bottom: 1.5%;
            // height: 55vh;
            text-align: center;
            width: 100%;
            .M_imagecus {
                // border: 1px solid blue;
                outline: 2px solid #626262;
                width: 65%;
                height: 50vh;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .M_text {
                    position: absolute;
                    z-index: -1;
                    color: #8f8f8f;
                    letter-spacing: 0.25rem;
                    font-size: 1.5rem;
                    font-family: "Noto Serif TC", serif;
                }
                #M_delete {
                    position: absolute;
                    right: 19%;
                    top: 15%;
                    width: 30px;
                }
            }
            #M_customBtn {
                background: #292929;
                color: #efefef;
                border: none;
                outline: none;
                font-size: 1.5rem;
                margin-top: 1%;
                letter-spacing: 0.25rem;
                width: 65%;
                cursor: pointer;
                font-family: "Noto Serif TC", serif;
            }
        }
    }
    canvas.M_canvas {
        position: absolute;
        border: 1px solid blue;
        width: 60%;
        height: 5vh;
        cursor: crosshair;
        z-index: 999;
        display: inline-block;
    }
    .M_right {
        display: none;
    }
}
