@import './app/_header.scss';
body{
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

section.M_background {
    width: 100%;
    height: 100vh;
    z-index: -2;
    background-color: #efefef;
    p.M_bgf {
        position: absolute;
        right: 18%;
        top: 15%;
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 800;
        letter-spacing: .25rem;
        font-size: 12rem;
        z-index: 1;
        -webkit-text-stroke:2px #dadada;
        color: transparent;
        z-index: 1;
        margin: 0 1em;
    }
    .M_line{
        width: 1rem;
        height: 70vh;
        right: 26%;
        border: 2px solid #dadada;
        border-top: none;
        // background-color: #e4e4e4;
        position: absolute;
    }
}

main.M_makeup {
    display: flex;
    align-items: center;
}


.M_left {
    /*border: 1px solid red;*/
    width: 25%;
    height: 100vh;
    @extend main.M_makeup;
    .M_catalog{
        /*border: 1px solid black;*/
        width: 65%;
        height: 100vh;
        background: #292929;
        display: flex;
        flex-direction: column;
        justify-content: center;
        button.M_opt{
            margin: 10% 0 10% 0;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 2rem;
            padding: 10% ;
            font-family: 'Noto Serif TC', serif;
            font-weight: 800;
            color: #ffffff;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                width: 0;
                height: 3rem;
                z-index: -1;
                background-color: #141414;
                position: absolute;
                transition: width 500ms ease-in-out;
            }
            &::after{
                right: 0;
                bottom: 0;
            }
            &:hover::after{
                width: 80%;
            }
        }
    }
    
    .M_option{
        /*border: 1px solid green;*/
        width: 35%;
        height: 100vh;
        background: #141414;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        button.M_btn{
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            filter: brightness(.65);
            transition: 500ms ease-in-out;
            &:hover{
                filter: brightness(1);
            }
        }
        button.M_btnSec{
            @extend button.M_btn;
            width: 60%; 
            // border: 1px solid red; 
            color: white; 
            font-size: 1.2rem;
            letter-spacing: .1rem;
            font-family: 'Noto Serif TC', serif;
        }
    }
}

.M_middle {
    // border: 1px solid purple;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    .M_img{
        // border: 1px solid red;
        width:65%;
        margin-bottom: 1.5%;
    }
}

.M_right {
    // border: 1px solid blue;
    width: 25%;
    /*height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    h1.M_title{
        color: #292929;
        letter-spacing: .25rem;
        font-family: 'Noto Serif TC', serif;
        margin: 1em 0;
    }
    h3.M_titleSec{
        letter-spacing: .25rem;
        font-family: 'Noto Serif TC', serif;
    margin: 1em 0;
    }
    p.M_detail{
        color: #292929;
        margin: 1em 0;
    }
    .M_content{
        // border: 1px solid red;
        padding: 0 6.5% 0 6.5%;
    }
    .M_contentbtn{
        width: 40%;
        font-family: 'Noto Serif TC', serif;
        letter-spacing: .25rem;
        background: transparent;
        outline: none;
        border: 2px solid #626262;
        cursor: pointer;
        font-size: 1.5rem;
        padding: 2%;
    }
    .M_group{
        width: 100%;
        margin: 3% 0 3% 0;
        // border: 1px solid green;
        display: flex;
        justify-content: space-evenly;
        button.M_social{
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            color: #626262;
            transition: 500ms ease-in-out;
            &:hover{
                color: #989898;
            }
        }
    }
}


