@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

$wordColor: #463e37;
body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
    background-color: #918174;
}

.memAnyl-main {
    position: relative;
    display: flex;
    flex-direction: column;
    
    
    .memAnylresult-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 50px auto;
        text-align: center;
        position: relative;
        top: 50px;
        .memAnylResult-word {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            color: $wordColor;
            .title {
                margin-bottom: 20px;
                color: $white;
                h1 {
                    position: relative;
                    margin-left: 10px;
                    text-align: start;
                    font-size: 30px;
                }
            }
            .line {
                border: 1px solid $white;
            }
            .forword {
                width: 95%;
                margin: 10px;
            }
        }
        .sun {
            color: $wordColor;
            display: flex;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 80%;
                h3 {
                    text-align: start;
                }
                .line {
                    border: 1px solid white;
                }
                p {
                    margin-top: 30px;
                    margin-right: 10px;
                    text-align: left;
                }
            }
            .pic {
                border: 1px solid white;
                width: 200px;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .night {
            color: $wordColor;
            display: flex;
            flex-direction: row-reverse;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 80%;
                h3 {
                    text-align: end;
                }
                .line {
                    border: 1px solid white;
                }
                p {
                    margin-top: 30px;
                    margin-left: 10px;
                    text-align: left;
                }
            }
            .pic {
                border: 1px solid white;
                width: 200px;
                height: 280px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
    .btn {
        display: flex;
        width: 60%;
        margin: 10px auto;
        flex-direction: row;    
        justify-content: space-between;
        
        
        a {            
            
            
            text-align: center;
            text-decoration: none;
            &:active {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                color: white;
            }
            &:visited {
                text-decoration: none;
                color: white
            }
            .btnStyle{
                cursor: pointer;
                font-size: 16px;
                width: 100px;
                height: 60px;
                text-align: center;
                color: white;
                background-color: $tomato;
                border: 1px solid  $tomato;
                transition: background-color 0.5s , border 0.5s;            
                &:hover{
                    background-color: #AE5F5F;
                    border: 1px solid  #AE5F5F;
                    transition: background-color 0.5s , border 0.5s;
                }                
                p {
                    margin-top: 15%;
                }
            }
        }
    }
}