@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
html,
body {
    width: 100%;
    margin: 0;
    background: $grey1;
}

.memAnyl-main {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: none;
    .memAnyl-content {
        width: 80%;
        position: relative;
        top: 70px;
        // background-color: $lightGold;
        // border: 5px solid $navy;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        h1 {
            text-align: left;
            margin-left: 120px;
            margin-top: 35px;
            margin-bottom: 20px;
            @include font-style(30px, $notoSerif, $greyNavy, $default-fweight) {}
            @media screen and(max-width: 768px) {
                margin-left: 40px;
            }
        }
        .memAnyl-hr {
            border: 2px solid $grey5;
            width: 90%;
            margin: 0 auto;
        }
        .memAnyl-foreword {
            width: 60%;
            text-align: left;
            @include font-style(20px, $notoSerif, $greyNavy, $default-fweight) {}
            margin-left: 100px;
            padding: 15px;
            @media screen and(max-width: 768px) {
                margin-left: 30px;
                width: 90%;
            }
        }
        .memAnyl-question {
            width: 100%;
            // height: 390px;
            color: $red;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
            @media screen and(min-width: 991px) {
                flex-direction: row;
            }
            .backgroundNumber {
                position: absolute;
                opacity: .2;
                right: 400px;
                top: 0;
                @include font-style(400px, $notoSerif, $grey3, $default-fweight) {}
                @media screen and(max-width: 768px) {
                    right: 100px;
                }
            }
            .memAnyl-title {
                display: flex;
                flex-direction: row-reverse;
                justify-self: end;
                margin: 0 auto;
                text-align: center;
                @include font-style(16px, $notoSerif, $grey3, $default-fweight) {}
                @media screen and(min-width: 991px) {
                    flex-direction: column;
                }
                .circle {
                    @include circle(40px);
                    background-color: $lightGold;
                    margin: 20px auto;
                    text-align: center;
                    p {
                        margin: 8px auto;
                        color: honeydew;
                        text-align: center;
                    }
                }
                .line {
                    border: 1.5px solid $lightGold;
                    height: 0px;
                    width: 100px;
                    margin: auto 10px;
                    @media screen and(min-width: 991px) {
                        width: 0;
                        height: 100px;
                        margin: 0 auto;
                    }
                }
                .question {
                    font-size: 30px;
                    margin: auto 0;
                    color: $lightGold;
                    @media screen and(min-width: 991px) {
                        margin: 50px auto;
                        transform: rotate(270deg);
                    }
                }
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            .memAnyl-answer {
                width: 100%;
                margin: 30px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: center;
                position: relative;
                @include font-style(20px, $notoSerif, $grey3, $default-fweight) {}
                h1 {
                    margin: 0 auto 0 0;
                }
                div {
                    margin-top: 30px;
                    margin-left: 5%;
                    width: 100px;
                    text-align: left;
                }
            }
            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                position: relative;
                padding-left: 28px;
                line-height: 20px;
                display: inline-block;
                color: $grey5;
                width: 140px;
            }
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid $grey3;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: $rose;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            .memAnyl-endBox {
                // height: 200px;
                // width: 150px;
                position: absolute;
                bottom: 150px;
                right: 0px;
                @media screen and (min-width: 991px) {
                    position: relative;
                    bottom: 0;
                    // height: 400px;
                    // width: 500px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    @media screen and(max-width: 500px) {
                        margin-left: 10px;
                    }
                }
            }
        }
        .memAnyl-btn {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin: 30px auto;
            @include font-style(16px, $notoSerif, $grey3, $default-fweight) {}
            .btnStyle {
                cursor: pointer;
                font-size: 16px;
                width: 100px;
                height: 60px;
                text-align: center;
                color: white;
                background-color: $tomato;
                border: 1px solid $tomato;
                transition: background-color 0.5s, border 0.5s;
                &:hover {
                    background-color: #AE5F5F;
                    border: 1px solid #AE5F5F;
                    transition: background-color 0.5s, border 0.5s;
                }
                p {
                    margin-top: 15%;
                }
            }
        }
        .memAnyl-page {
            color: $grey2;
            width: 200px;
            margin-left: 300px;
            @include font-style(16px, $notoSerif, $grey3, $default-fweight) {}
            @media screen and (max-width: 996px) {
                margin-left: 20px;
            }
        }
    }
}

.Q1img{
    @media screen and(max-width:991px){   
    width: 170px;
    height: 220px;
    }
    @media screen and(max-width:450px){   
    display: none;
    }
}
.Q2img{
    width: 390px;
    height: 420px;
    @media screen and(max-width:991px){   
        width: 170px;
        height: 220px;
        }
    @media screen and(max-width:450px){   
    display: none;
    }
}
.Q3img{
    width: 450px;
    height: 280px;
    @media screen and(max-width:991px){   
        width: 190px;
        height: 190px;
        }
    @media screen and(max-width:450px){   
    display: none;
    }
}
.Q4img{
    @media screen and(max-width:991px){   
        width: 190px;
        height: 190px;
        }
    @media screen and(max-width:450px){   
    display: none;
    }
}
.Q5img{
    width: 420px;
    height: 440px;
    @media screen and(max-width:991px){   
        width: 190px;
        height: 250px;
        }
    @media screen and(max-width:450px){   
        display: none;
        }
}
.memAnylQ2 {
    display: none;
}

.memAnylQ3 {
    display: none;
}

.memAnylQ4 {
    display: none;
}

.memAnylQ5 {
    display: none;
}

.Q1btn {
    flex-direction: row-reverse;
}

.Q5link {
    text-decoration: none;
    &:active {
        text-decoration: none;
    }
    &:focus {
        text-decoration: none;
        color: white;
    }
    &:visited {
        text-decoration: none;
        color: white
    }
}