@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
    background-color: $skin;
    text-align: center;
}
.memAnyl-main {
    margin: 0px auto;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    position: relative;
    display: flex;
    .memAnyl-background {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        z-index: -1;
        .memAnyl-leftblock{
            position: absolute;
            top: 0;
            height: 100%;
            width:200px;
            background-color: $navy;
        }
        .memAnyl-ANYL{
            position: absolute;
            font-size: 40px;
            text-shadow: 1px 1px $grape, -1px -1px $grape,
              1px -1px $grape, -1px 1px $grape;
            top: 350px;
            //   background-color: $white;
            transform: rotate(270deg);
        }
        .memAnyl-RESU{
            position: absolute;
            font-size: 40px;
            text-shadow: 1px 1px $grape, -1px -1px $grape,
              1px -1px $grape, -1px 1px $grape;
            top: 50px;
            left:20px;
            transform: rotate(270deg);
            

        }
        
    }
    .memAnyl-content {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: $sky;
        border: 5px solid $navy;
        border-radius: 20px;
        margin: 100px auto;
        text-align: center;
        position: relative;
        top: 50px;
        
        .memAnylResult-word{
            display: flex;
            margin: 0 auto;
            div{
                h1{ 
                    position: relative;
                    width: 80%;
                    margin-left: 20px;
                }
            }
            p{
                width: 50%;
                margin: 20px auto;
            }
        }
        .memAnylResult-item{
            
            right:0px;
            top: 130px;
            width: 100%;
            height: 40%;
            h3{
                position: relative;
                color:$red;
                width: 200px;
                
            }
            .sun{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 25px auto;
                text-align: center;
                div{
                    margin: 0 auto;
                    width: 90%;
                    p{
                        width: 200px;
                    }
                    .content{
                        display: flex;
                        margin: 0 auto;
                        .circle{
                            @include circle(150px);
                            background-color: $grey2;
                            margin: 0 auto 0 50px;
                            // width: 90%;
                            img{
                            position: relative;
                            left: 10px;
                            top: 10px;
                            width: 80%;
                            }
                        }
                        div{
                            width: 50%;
                            text-align: left;
                            margin-left: 0;
                        }
                    }
                }
            }
            .night{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 25px auto;
                text-align: center;
                div{
                    margin: 0 auto;
                    width: 90%;
                    p{
                        width: 200px;
                    }
                    .content{
                        display: flex;
                        margin: 0 auto;
                        .circle{
                            @include circle(150px);
                            background-color: $grey2;
                            margin: 0 auto 0 50px;
                            // width: 90%;
                            img{
                            position: relative;
                            left: 10px;
                            top: 10px;
                            width: 80%;
                            }
                        }
                        div{
                            width: 50%;
                            text-align: left;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

