@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

$wordColor: #463e37;
[v-cloak] {
    opacity: 0;
  }
body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
    background-color: #918174;
}

.memAnyl-main {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    .memAnylresult-content {
        &::before {
            content: '';
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid $white;
            opacity: .2;
            z-index: -1;
        }
        width: 60%;
        @media screen and(max-width:991px) {
            width: 80%;
        }
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 55px auto;
        text-align: center;
        position: relative;
        top: 60px;
        .memAnylResult-word {
            @include font-style(16px, $notoSerif, $white, $default-fweight) {}
            text-align: left;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            color: $wordColor;
            width: 100%;
            .title {
                margin-bottom: 20px;
                color: $white;
                h1 {
                    position: relative;
                    margin-left: 10px;
                    text-align: start;
                    font-size: 30px;
                }
            }
            .line {
                border: 1px solid $white;
            }
            .forword {
                width: 80%;
                margin: 10px;
                @include font-style(16px, $notoSerif, $white, $default-fweight) {}
                @media screen and (max-width:1199px){
                    width: 95%;
                    
                }
            }
        }
        .sun {
            color: $wordColor;
            display: flex;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 100%;
                h3 {
                    text-align: start;
                    @include font-style(25px, $notoSerif, $white, $default-fweight) {}
                    margin: 10px;
                }
                .line {
                    border: 1px solid white;
                }
                // p {
                //     margin-right: 10px;
                //     text-align: left;
                //     @include font-style(18px, $notoSerif, $white, $default-fweight) {}
                //     @media screen and(min-width:768px){
                //         width: 400px;
                        
                //     }
                // }
                .product {
                    display: flex;
                    margin: 20px;
                    align-items:center;
                    @media screen and(max-width: 767px) {
                        flex-direction: column;
                        align-items: flex-start;   
                    }
                    .detail{
                        display: flex;
                        flex-direction: column;
                        .resultStep{
                            text-align: left;
                            width: 400px;
                            @include font-style(18px, $notoSerif, $white, $default-fweight) {}
                        }
                        .memcart{
                            @media screen and(max-width: 450px) {
                                height: 17px;
                                width: 115px;
                            }
                            display: flex;
                                align-items: center;
                                
                                width: 100%;
                                height: 40px;
                                text-align: center;
                                margin-top: 10px;
                                border: none;
                                outline: none;
                                justify-content: space-evenly;
                                transition: background-color 0.5s,color .5;
                                .addToCart{
                                    cursor: pointer;
                                    font-size: 16px;
                                    width: 100px;
                                    height: 60px;
                                    text-align: center;
                                    color: white;
                                    background-color: $tomato;
                                    border:none;
                                    transition: background-color 0.5s;
                                    width: 120px;
                                    height: 100%;
                                    &:hover {
                                        background-color: #AE5F5F;
                                        border: none;
                                        transition: background-color 0.5s, border 0.5s;
                                    }
                                        p{  
                                            margin-top: 7px;
                                            color:$white;
                                            @media screen and(max-width: 450px) {
                                                @include font-style(12px, $notoSerif, $grey5) {}
                                                margin-top: 0px;
                    
                                            }
                                        }
                                    
                                }
                                a{
                                    height: 100%;
                                    width: 100px;
                                    p{
                                        margin-top: 7px;
                                        @include font-style(18px, $notoSerif, $grey5) {}
                                        width: 100% ;
                                        @media screen and(max-width: 450px) {
                                            font-size: 12px;
                                            margin-top: 0;
                
                                        }
                                    }
                                    cursor: pointer;
                                    font-size: 16px;
                                    width: 100px;
                                    height: 60px;
                                    text-align: center;
                                    color: white;
                                    background-color: $tomato;
                                    border:none;
                                    transition: background-color 0.5s;
                                    width: 120px;
                                    height: 100%;
                                    &:hover {
                                        background-color: #AE5F5F;
                                        border: none;
                                        transition: background-color 0.5s, border 0.5s;
                                    }
                                    p{
                                        color:$white;
                                        }
                
                                                  
                                }
                                a:link{
                                    text-decoration: none;
                                    color:$grey5;
                                    
                                }
                                
                                a:active{
                                    text-decoration: none;
                                    color:$grey5;
                                }
                                
                                a:visited{
                                    text-decoration: none;
                                    color:$grey5;
                                }
                            }
                    }
                    .pic {
                        border: 1px solid white;
                        width: 150px;
                        height: 150px;
                        margin: 15px;
                        @media screen and(max-width:767px){
                            width: 100px;
                            height: 100px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .night {
            color: $wordColor;
            display: flex;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 100%;
                h3 {
                    text-align: start;
                    @include font-style(25px, $notoSerif, $white, $default-fweight) {}
                    margin: 10px;
                }
                .line {
                    border: 1px solid white;
                }
                
                .product {  
                    display: flex;
                    margin: 20px;
                    align-items:center;
                    @media screen and(max-width: 767px) {
                        flex-direction: column;
                        align-items: flex-start;   
                        
                    }
                    .detail{
                        display: flex;
                        flex-direction: column;
                        .resultStep{
                            text-align: left;
                            width: 400px;
                            @include font-style(18px, $notoSerif, $white, $default-fweight) {}
                        }
                        .memcart{
                            @media screen and(max-width: 450px) {
                                height: 17px;
                                width: 115px;
                            }
                            display: flex;
                                align-items: center;
                                cursor: pointer;
                                width: 100%;
                                height: 40px;
                                text-align: center;
                                margin-top: 10px;
                                border: none;
                                outline: none;
                                justify-content: space-evenly;
                                transition: background-color 0.5s,color .5;
                                .addToCart{
                                    cursor: pointer;
                                    font-size: 16px;
                                    width: 100px;
                                    height: 60px;
                                    text-align: center;
                                    color: white;
                                    background-color: $tomato;
                                    border:none;
                                    transition: background-color 0.5s;
                                    width: 120px;
                                    height: 100%;
                                    &:hover {
                                        background-color: #AE5F5F;
                                        border: none;
                                        transition: background-color 0.5s, border 0.5s;
                                    }
                                        p{  
                                            margin-top: 7px;
                                            color:$white;
                                            @media screen and(max-width: 450px) {
                                                @include font-style(12px, $notoSerif, $grey5) {}
                                                margin-top: 0px;
                    
                                            }
                                        }
                                    
                                }
                                a{
                                    height: 100%;
                                    width: 100px;
                                    p{
                                        margin-top: 7px;
                                        @include font-style(18px, $notoSerif, $grey5) {}
                                        width: 100%;
                                        @media screen and(max-width: 450px) {
                                            font-size: 12px;
                                            margin-top: 0;
                
                                        }
                                    }
                                    cursor: pointer;
                                    font-size: 16px;
                                    width: 100px;
                                    height: 60px;
                                    text-align: center;
                                    color: white;
                                    background-color: $tomato;
                                    border:none;
                                    transition: background-color 0.5s;
                                    width: 120px;
                                    height: 100%;
                                    &:hover {
                                        background-color: #AE5F5F;
                                        border: none;
                                        transition: background-color 0.5s, border 0.5s;
                                    }
                                    p{
                                        color:$white;
                                        }
                
                                                  
                                }
                                a:link{
                                    text-decoration: none;
                                    color:$grey5;
                                    
                                }
                                
                                a:active{
                                    text-decoration: none;
                                    color:$grey5;
                                }
                                
                                a:visited{
                                    text-decoration: none;
                                    color:$grey5;
                                }
                            }
                    }
                    .pic {
                        border: 1px solid white;
                        width: 150px;
                        height: 150px;
                        margin: 15px;
                        @media screen and(max-width:767px){
                            width: 100px;
                            height: 100px;
                        }
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
    .btn {
        display: flex;
        width: 60%;
        @media screen and(max-width: 767px) {
            width: 80%;
        }
        margin: 10px auto;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-align: center;
            text-decoration: none;
            &:active {
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
                color: white;
            }
            &:visited {
                text-decoration: none;
                color: white
            }
            .btnStyle {
                cursor: pointer;
                font-size: 16px;
                width: 100px;
                height: 60px;
                text-align: center;
                color: white;
                background-color: $tomato;
                border: 1px solid $tomato;
                transition: background-color 0.5s, border 0.5s;
                &:hover {
                    background-color: #AE5F5F;
                    border: 1px solid #AE5F5F;
                    transition: background-color 0.5s, border 0.5s;
                }
                p {
                    margin-top: 15%;
                }
            }
        }
    }
}