@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

$wordColor: #463e37;
body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
    background-color: #918174;
}

.memAnyl-main {
    position: relative;
    display: flex;
    flex-direction: column;
    @media screen and (min-width:991px){
        flex-direction: row;    
    }
    
    .memAnylresult-content {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 50px auto;
        text-align: center;
        position: relative;
        top: 50px;
        .memAnylResult-word {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            color: $wordColor;
            .title {
                margin-bottom: 20px;
                color: $white;
                h1 {
                    position: relative;
                    margin-left: 10px;
                    text-align: start;
                    font-size: 30px;
                }
            }
            .line {
                border: 1px solid $white;
            }
            .forword {
                width: 95%;
                margin: 10px;
            }
        }
        .sun {
            color: $wordColor;
            display: flex;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 80%;
                h3 {
                    text-align: start;
                }
                .line {
                    border: 1px solid white;
                }
                p {
                    margin-top: 30px;
                    margin-right: 10px;
                    text-align: left;
                }
            }
            .pic {
                border: 1px solid white;
                width: 200px;
                height: 250px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .night {
            color: $wordColor;
            display: flex;
            flex-direction: row-reverse;
            margin: 30px auto 0;
            width: 100%;
            .word {
                width: 80%;
                h3 {
                    text-align: end;
                }
                .line {
                    border: 1px solid white;
                }
                p {
                    margin-top: 30px;
                    margin-left: 10px;
                    text-align: left;
                }
            }
            .pic {
                border: 1px solid white;
                width: 200px;
                height: 280px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
    }
    .btn {
        display: flex;
        position: relative;
        @media screen and (min-width:991px){
            right: 10%;
            margin-top:320px ;
            flex-direction: column;    

        }
        margin-top: 10px;
        div {
            background-color: #463e37;
            
            
            color: $white;
            width: 150px;
            height: 50px;
            padding-top: 10px;
            margin: 10px auto;
            text-align: center;
        }
    }
}