@import './base/var';
@import './mixin/fontStyle';
@import './app/_header.scss';
@mixin circle($width) {
    width: $width;
    height: $width;
    border-radius: $width/2;
}

;
html,
body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    margin: 0;
    background: $grey1;
}

.memAnyl-main {
    margin: 0px auto;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    .memAnyl-content {
        width: 80%;
        position: relative;
        top: 80px;
        // background-color: $lightGold;
        // border: 5px solid $navy;
        border-radius: 20px;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        h1 {
            text-align: left;
            margin: 20px auto 20px 300px;
            color: $greyNavy;
        }
        .memAnyl-hr {
            border: 2px solid $grey5;
            width: 80%;
            margin: 0 auto;
        }
        .memAnyl-foreword {
            width: 50%;
            text-align: left;
            color: $greyNavy;
            margin: 20px auto 0px 250px;
            padding: 15px;
        }
        .memAnyl-question {
            width: 80%;
            // height: 390px;
            color: $red;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;
            @media screen and(min-width: 991px) {
                flex-direction: row;
            }
            .backgroundNumber {
                position: absolute;
                font-size: 400px;
                color: $grey3;
                opacity: .2;
                right: 400px;
                top: 0;
                font-family: Noto serif TC;
            }
            .memAnyl-title {
                display: flex;
                flex-direction: row-reverse;
                justify-self: end;
                margin: 0 auto;
                text-align: center;
                @media screen and(min-width: 991px) {
                    flex-direction: column;
                }
                .circle {
                    @include circle(40px);
                    background-color: $lightGold;
                    margin: 20px auto;
                    text-align: center;
                    p {
                        margin: 8px auto;
                        color: honeydew;
                        text-align: center;
                    }
                }
                .line {
                    border: 1.5px solid $lightGold;
                    height: 0px;
                    width: 100px;
                    margin: auto 10px;
                    @media screen and(min-width: 991px) {
                        width: 0;
                        height: 100px;
                        margin: 0 auto;
                    }
                }
                .question {
                    font-size: 30px;
                    margin: auto 0;
                    color: $lightGold;
                    @media screen and(min-width: 991px) {
                        margin: 50px auto;
                        transform: rotate(270deg);
                    }
                }
            }
            [type="radio"]:checked,
            [type="radio"]:not(:checked) {
                position: absolute;
                left: -9999px;
            }
            .memAnyl-answer {
                width: 100%;
                margin: 10px 0px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                text-align: center;
                position: relative;
                h1 {
                    margin: 0 auto 0 0;
                }
                div {
                    margin-top: 30px;
                    margin-left: 5%;
                    width: 100px;
                    text-align: left;
                }
            }
            [type="radio"]:checked+label,
            [type="radio"]:not(:checked)+label {
                position: relative;
                padding-left: 28px;
                line-height: 20px;
                display: inline-block;
                color: $grey5;
            }
            [type="radio"]:checked+label:before,
            [type="radio"]:not(:checked)+label:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 18px;
                height: 18px;
                border: 1px solid $grey3;
                border-radius: 100%;
                background: #fff;
            }
            [type="radio"]:checked+label:after,
            [type="radio"]:not(:checked)+label:after {
                content: '';
                width: 12px;
                height: 12px;
                background: $rose;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 100%;
                -webkit-transition: all 0.2s ease;
                transition: all 0.2s ease;
            }
            [type="radio"]:not(:checked)+label:after {
                opacity: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            [type="radio"]:checked+label:after {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
            // .memAnyl-btn {
            //     position: relative;
            //     border: 0px solid transparent;
            //     font-size: 25px;
            //     color: $navy;
            //     width: 150px;
            //     height: 70px;
            //     margin: 30px 80px 30px auto;
            //     box-shadow: 5px 10px 15px rgb(59, 59, 59);
            //     border-radius: 15px;
            //     cursor: pointer;
            //     transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
            //     &:hover {
            //         box-shadow: 15px 15px 15px rgb(59, 59, 59);
            //         transition: box-shadow 0.3s, color 0.3s, background-color 0.3s;
            //         border: 0px solid $darkGold;
            //         color: $white;
            //         background-color: $tomato;
            //     }
            //     &:active {
            //         outline: none;
            //         transition: box-shadow 0.3s;
            //         box-shadow: none;
            //     }
            //     &:focus {
            //         outline: none;
            //     }
            // }
            .memAnyl-endBox {
                height: 200px;
                width: 150px;
                position: absolute;
                bottom: 150px;
                right: 0px;
                @media screen and (min-width: 991px) {
                    position: relative;
                    bottom: 0;
                    height: 400px;
                    width: 500px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .memAnyl-btn {
            display: flex;
            width: 80%;
            justify-content: space-between;
            margin: 30px auto;
            div {
                border: 1px solid black;
                width: 100px;
                height: 60px;
                text-align: center;
                p {
                    margin-top: 15%;
                }
            }
        }
        .memAnyl-page {
            color: $grey1;
            width: 200px;
            margin-left: 300px;
        }
    }
}

.memAnylQ2 {
    display: none;
}

.memAnylQ3 {
    display: none;
}

.memAnylQ4 {
    display: none;
}

.memAnylQ5 {
    display: none;
}