@import "./app/header";
body {
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


section.mem_main{
    height: 100vh;
    width: 100%;
    background-color: #2C3342;
    display: flex;
    align-items: center;
    justify-content: center;

    ul.mem_group{
        position: absolute;
        top: 30%;
        left: 5%;
        // border: 1px solid pink;
        background: #a39775;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 40vh;
        width:18%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        li{
            font-family: "Noto Serif TC", serif;
            // border: 1px solid blue;
            outline: 2px solid #ffffff6c;
            outline-offset: -10px;
            height: 25%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;    
            font-weight: 700;
            color: #292929;
            font-size: 1.8rem;
            text-align: center;
            margin: auto 0;
            cursor: pointer;
            transition: all .5s ease-in-out;
        }
        .mem_active{
            background: #BB9662;
        }
    }
    .mem_content{
        // border: 2px dotted #E1D0A1;
        outline: 3px dotted #e1d0a167;
        outline-offset: 25px;
        background-color: #383838;
        padding: 2.5rem;
        align-self: flex-end;
        height: 70vh;
        width: 60%;
        // .mem_tabone{

        // }
    }
    form.mem_info{
        color: #ffffff;
        // border: 1px solid red;
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .mem_input{
            background: transparent;
            margin: 2% 0;
            border: none;
            border-bottom: 2px solid #e1d0a167;
            outline: none;
            width: 70%;
            height: 50px;
        }
    }
// TabTwo
    .mem_detailGroupbtn{
        margin: 0 auto;
        // border: 1px solid blue;
        width: 75%;
        display: flex;
        justify-content: center;
        button.mem_buybtn{
            font-size: 1.2rem;
            width: 20%;
            height: 6vh;
            border: none;
            outline: none;
            cursor: pointer;
            // color: white;
            background-color: rgb(211, 211, 211);
        }
    }
}
