@import "./app/header";

body {
    font-family: "Noto Sans TC", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

[v-cloak]{
    opacity: 0;
}

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: darken(#2c3342, 8);
    z-index: -1;
    overflow: hidden;

    .wrapTexture {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../image/back2.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.06;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);
        border: 10px double rgba($cofe, 0.1);
    }
}

#mainSection {
    // border: 1px solid red;
    max-width: 1200px;
    width: 70%;
    min-width: 1000px;
    height: 84vh;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @include pc() {
        width: 80%;
        min-width: 0;
    }
    @include m-pad() {
        width: 90%;
        height: 74vh;
    }
    @include s-pad() {
        height: 76vh;
    }
    @include l-phone() {
        width: 100%;
        height: 74vh;
    }
    @include s-phone() {
        height: 78vh;
    }
    @media screen and (max-width: 375px) {
        height: 78vh;
    }
    @media screen and (max-width: 360px) {
        height: 74vh;
    }

    &::before {
        content: "";
        position: absolute;
        width: 95%;
        height: 102%;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        border: 4px double rgba($cofe, 0.3);
        border-bottom: 0;
    }

    #mainInfoSec {
        border: 4px double rgba($lightGold, 0.5);
        width: 90%;
        height: 100%;
        margin: 0 auto;
        background-color: $grey4;

        #infoContent {
            // border: 1px solid red;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            @include s-pad() {
                width: 100%;
            }

            .contentBox {
                // border: 1px solid green;
                width: 95%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding-top: 80px;
                z-index: 10;

                @include s-pad() {
                    padding-top: 20px;
                    width: 100%;
                }

                form.mem_info {
                    color: #ffffff;
                    // border: 1px solid red !important;
                    width: 80%;
                    height: 60%;
                    margin: 0 auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    @include m-pad() {
                        width: 90%;
                    }
                    @include s-pad() {
                        font-size: 14px;
                    }
                    label {
                        // border: 1px solid gold;
                        width: 100%;
                        height: 20%;
                        display: grid;
                        grid-column: 3fr;
                        grid-template-columns: 1fr 5fr;
                        align-items: center;
                        @include font-style() {
                            font-size: 16px;
                        }
                        .subjectBox {
                            border-right: 1px solid rgba($white, 0.4);
                            border-left: 1px solid rgba($white, 0.4);
                            border-bottom: 1px solid rgba($wood, 0.4);
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgba($cofe, 0.5);
                        }
                        .inputBox {
                            border-right: 1px solid rgba($white, 0.4);
                            border-bottom: 1px solid rgba($wood, 0.4);
                            padding-left: 25px;
                            height: 100%;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;
                            align-items: center;
                            background-color: rgba($lightGold, 0.5);
                        }
                    }
                    .modifyMemInfo {
                        border: 0;
                        outline: 0;
                        font-style: italic;
                        background-color: $darkGold;
                        align-self: flex-end;
                        padding: 5px 20px;
                        margin-top: 30px;
                        border-radius: 5px;
                        cursor: pointer;
                        @include font-style() {
                            font-size: 14px;
                            color: $wood;
                        }
                        &:hover {
                            background-color: $lightGold;
                            transition: all 0.2s;
                        }
                    }
                    // input {
                    //     background: transparent;
                    //     margin: 10px 0 10px 20px;
                    //     border: none;
                    //     border-bottom: 2px solid #e1d0a167;
                    //     outline: none;
                    //     width: 70%;
                    //     height: 60px;
                    //     @include font-style(){
                    //         font-size: 16px;
                    //     }
                    //     @include l-phone(){
                    //         height: 40px;
                    //         font-size: 14px;
                    //     }
                    // }
                }
            }
        }
    }

    #btnSec {
        // border: 1px solid green;
        width: 200px;
        height: 100%;
        position: absolute;
        top: 0;
        left: -60px;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 60px;
        z-index: 30;

        @include m-pad() {
            width: 90%;
            height: 10%;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            top: -90px;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
        }
        @include s-pad() {
            top: -100px;
        }
        @include l-phone() {
            width: 90%;
            top: -70px;
        }
        @include s-phone() {
            top: -60px;
        }

        .alterInfo {
            width: 100%;
            height: 10%;
            @include font-style() {
                font-size: 16px;
                font-weight: 500;
                color: $wood;
            }
            background-color: #a39775;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;
            box-shadow: 3px 2px 20px rgba($lightGold, 0.15);

            @include m-pad() {
                width: 150px;
                height: 100%;
                box-shadow: unset;
            }
            @include l-phone() {
                font-size: 14px;
                height: 70%;
            }
            @include s-phone() {
                font-size: 12px;
            }

            &:hover {
                background-color: $darkGold;
            }

            &::before {
                content: "";
                width: 90%;
                height: 75%;
                border: 1px solid rgba($white, 0.7);
                position: absolute;
            }
        }

        .activeInfo {
            @include font-style() {
                color: $lightGold;
                font-size: 16px;
            }
            background-color: $wood;
            @include l-phone() {
                font-size: 14px;
            }
            @include s-phone() {
                font-size: 12px;
            }

            &:hover {
                background-color: $wood;
                color: $lightGold;
            }
        }
    }
}

.mem_detailGroupbtn {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: rgb(129, 129, 129);
    // border: 1px solid red !important;
    @include pc() {
        transform: translateX(20px);
    }
    @include m-pad() {
        transform: unset;
        width: 100%;
    }
    .mem_buybtn {
        @include font-style() {
        }
        font-size: 16px;
        color: rgba($white,.4);
        width: 50%;
        height: 60px;
        border: 0;
        outline: 0;
        background-color: rgba($grey5,.8);
        transition: 0.2s;
        cursor: pointer;
        @include l-phone() {
            font-size: 14px;
        }
        @media all and (max-width: 420px) {
            font-size: 12px;
        }
        @media all and (max-width: 360px) {
            font-size: 10px;
        }
    }
    .mem_buyactive {
        color: $wood;
        background-color: transparent;
        // border-top: 2px solid rgba($lightGold, .8);
        box-shadow: 0px -5px 10px rgba($lightGold, 0.2);
        font-weight: 600;
    }
}

.mem_buycontent {
    // border: 2px solid red;
    margin: 0 auto;
    width: 80%;
    height: 70%;
    background: rgb(129, 129, 129);
    display: block;
    position: relative;
    @include pc() {
        transform: translateX(20px);
    }
    @include m-pad() {
        transform: unset;
        width: 100%;
    }
    table.mem_tablegroup {
        // border: 1px solid peru;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: block;
        thead{
            display: block;
            width: 100%;
            height: 5%;
            // border: 1px solid rgb(243, 243, 61);
            .mem_buydetail_title {
                display: grid;
                grid-template-columns: 1.5fr 2fr 2fr 4fr 1fr;
                height: 100%;
                th {
                    border: 2px solid #a19677;
                    background-color: #c2b48f;
                    @include font-style() {
                        color: $grey5;
                        font-size: 16px;
                    }
    
                    @include l-phone() {
                        font-size: 14px;
                    }
                    @media all and (max-width: 420px) {
                        font-size: 12px;
                    }
                    @media all and (max-width: 360px) {
                        font-size: 10px;
                    }
                }
            }
        }
        .mem_buydetail_info{
            // border: 1px solid green;
            height: 95%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            overflow-y: scroll;
            tr{
                // border: 1px solid red;
                width: 100%;
                height: 40px;
                display: grid;
                grid-template-columns: 1.5fr 2fr 2fr 4fr 1fr;
                td{
                    border-bottom: 1px solid rgba($white, .2);
                    @include font-style(){}
                    font-size: 14px;
                    color: $grey5;
                    display: flex;
                    flex-flow: row;
                    justify-content: center;
                    align-items: center;

                    &:nth-of-type(4){
                        justify-content: flex-start;
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                    @include l-phone() {
                        font-size: 12px;
                    }

                    button{
                        border: 0;
                        outline: 0;
                        background-color: $lightGold;
                        border-radius: 3px;
                        padding: 0px 3px;
                        cursor: pointer;
                        &:hover{
                            background-color: $darkGold;
                        }
                        @include font-style(){
                            font-size: 12px;
                            color: $wood;
                        }
                    }
                }
            }
            .checkOrderItemDetail{
                background-color: rgba(black, .9);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 80;
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                .checkOrderItemDetailTh{
                    list-style: none;
                    // border: 1px solid red;
                    width: 100%;
                    @include font-style(){
                        font-size: 16px;
                        color: $lightGold;
                    }
                    display: grid;
                    grid-template-columns: 1fr 1fr 3fr;

                    li{
                        border-right: 1px solid $lightGold;
                        text-align: center;
                        background-color: $wood;
                        padding: 5px 0;
                        &:last-child{
                            border-right: 0;
                        }

                    }
                }
                .checkOrderItemDetailDiv{
                    // border: 1px solid red;
                    width: 100%;
                    height: 80%;
                    overflow-y: scroll;

                    .checkOrderItemDetailTr{
                        list-style: none;
                        border-bottom: 1px solid rgba($white, .4);
                        display: grid;
                        grid-template-columns: 1fr 1fr 3fr;
                        &:nth-of-type(odd){
                            background-color: rgba($lightGold, .5);
                        }
                        &:nth-of-type(even){
                            background-color: rgba($cofe, .5);
                        }
    
                        li{
                            text-align: center;
                            padding: 10px 0;
                            @include font-style(){
                                font-size: 16px;
                            }
                            border-right: 1px solid rgba($white, .4);
                            &:last-child{
                            border-right: 0;
                        }
                        }
                    }
                    .checkOrderItemDetailGift{
                        // border: 1px solid green;
                        width: 100%;
                        @include font-style(){
                            font-size: 16px;
                        }
                        text-align: center;
                        padding: 10px 0;
                        background-color: rgba($cofe, .6);
                        margin: 0px 0 20px;
                    }
                }
                .checkOrderItemDetailBtnBox{
                    // border: 1px solid peru;
                    width: 100%;
                    text-align: center;
                    button{
                        border: 0;
                        outline: 0;
                        background-color: $lightGold;
                        border-radius: 3px;
                        padding: 5px 15px;
                        cursor: pointer;
                        &:hover{
                            background-color: $darkGold;
                        }
                        @include font-style(){
                            font-size: 12px;
                            color: $wood;
                        }
                    }
                }
            }
        }   
    }
}

.mem_skinanalysis {
    // border: 1px solid red;
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    background: #818181;
    .mem_title {
        // border: 1px solid gold;
        padding: 20px 20px;
        p.mem_date {
            font-size: 12px;
            color: #464646;
        }
        h1.mem_maintitle {
            font-family: $CG;
            margin-bottom: 10px;
            color: #1a1a1a;
            @include l-phone(){
                font-size: 20px;
            }
        }
        p.mem_exp {
            // border: 1px solid red;
            @include font-style() {
            }
            font-size: 16px;
            color: #292929;
            line-height: 1.5;
        }
        .memPageImgBox{
            // border: 1px solid green;
            // width: 400px;
            // height: 200px;
            align-self: center;
            margin: 20px auto 30px;

            img{
                width: 100%;
                height: auto;
                opacity: .9;
            }
        }
    }
    button.mem_skincarePd {
        cursor: pointer;
        outline: none;
        border: none;
        background: #bbbbbb;
        padding: 0.8rem;
        font-family: "Noto Serif TC", serif;
        letter-spacing: 0.2rem;
    }
}

.mem_createcard {
    // border: 1px solid blue;
    width: 75%;
    height: 80%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    color: #bbbbbb;
    .mem_card {
        flex-shrink: 0;
        border: 2px solid #e1d0a167;
        width: 400px;
        height: 500px;
        @include m-pad() {
            width: 350px;
            height: 380px;
        }
        @include s-pad() {
            width: 350px;
            height: 450px;
        }
        @include l-phone() {
            width: 250px;
            height: 350px;
        }
        @include s-phone() {
            width: 200px;
            height: 300px;
        }
        .mem_img {
            margin: 0% auto;
            width: 100%;
            height: 100%;
            @include font-style(){
                font-size: 1.5em;
                color: rgba($white, .8);
            }
            @include l-phone(){
                font-size: 20px;
            }
            img{ width: 100%;
                height: 100%;
            }
        }
        p.mem_text {
            margin: 0.5rem 0;
        }
        button{
            border: 0;
            outline: 0;
            background-color: $lightGold;
            border-radius: 3px;
            padding: 5px 15px;
            margin-left: 72%;
            cursor: pointer;
            &:hover{
                background-color: $darkGold;
            }
            @include font-style(){
                font-size: 12px;
                color: $wood;
            }
            @include m-pad() {
                margin-left: 68%;
            }
            @include l-phone() {
                margin-left: 56%;
            }
            @include s-phone() {
                margin-left: 44%;
            }
        }
    }
}
