@import "./app/header";
@import "./mixin/fontStyle";
@import "./animate/pro-animate";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width:100%;
}
body{
    
    background: #493F46;
    
    .content{
        font-size: 0;
        padding-top: 100px;
        border: 1px solid green;
        max-width: 90%;
        margin: auto;
        
        
        .breadcrumb{
            padding: 5px 30px;
            .breadcrumb_list{
                list-style: none;
            }
            li{
                display: inline-block;
                &:before{
                    content: "/";
                    font-size: 18px;
                    color: #aaa;
                    margin: 12px;
                }
                &:first-child{
                    &:before{
                        content: "";
                        margin: 0;
                }}
                    
                a{
                    text-decoration: none;
                    display: inline-block;
                    color: rgba(239, 239, 239, 0.8);
                }
            }
        }
        .pro1{
            padding: 0 30px;
            vertical-align: top;
            display: inline-block;
            width: 50%;
            height: 700px;
            .pro1_content{
                background-color: #292929;
                height: 100%;
                h2{
                    padding: 5px 10px;
                    color: #EFEFEF;
                }
                p{
                    padding: 10px 20px;
                    color: #EFEFEF;
                }
                .pro_pic{
                    // height: 500px;
                    // display: inline-block;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .pro_img{
                        
                        margin: 5% 2%;
                        border: 1px solid black;
                        width: 25%;
                        height: 200px;

                    }
                    
                }
            }
           
        }
        .pro2{
            padding: 0 30px;
            display: inline-block;
            width: 50%;
            height: 700px;
            // height: 629px;
            .pro2_content{
                height: 100%;
                .box{
                    margin: 0 auto;
                    width: 100%;
                    height: 60%;
                    background-color: #C4C4C4;
                }
                .pro_top{
                    margin-top: 30px;
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .pro_color{
                        width: 40%;
                        display: inline-block;
                        select{
                            width: 100%;
                            height: 40px;
                        }
                    }
                    .pro_number{
                        width: 30%;
                        display: inline-block;
                        margin: 0 5%;
                        select{
                            width: 100%;
                            height: 40px;
                        }
                    }
                    .por_price{
                        display: inline-block;
                        width: 20%;
                        height: 40px;
                        color: #EFEFEF;
                        h3{
                            text-align: center;
                        }
                    }
                }
                .pro_down{
                    margin-top: 10px;
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                    .addcart{
                        display: inline-block;
                        width: 75%;
                        height: 50px;
                        margin-right: 5%;
                        color: #EFEFEF;
                        background-color: #883030;
                    }
                    .test_color{
                        width: 20%;
                        display: inline-block;
                        text-align: center;
                        a{
                            color: #EFEFEF;
                            text-decoration: none;
                            text-align: center;
                        }
                        
                    }
                }
            }
            
            
            
        }
        
body{
    @media screen and(max-width:767px){
        .content{
            max-width: 100%;
            .pro1{
                display: block;
                width: 100%;
                height: auto;
                .pro_pic{
                    display: none!important;
                }
            }
            .pro2{
                width: 100%;
                .pro2_content{
                    padding: 0 10px;
                    padding-bottom: 15px;
                    background-color: #292929;
                    .box{
                        height: 300px;
                    }                 
                }
            }
        }
        
        
    }

}


    
    



