@import "./app/header_black";
@import "./mixin/fontStyle";
body{
  background-color: #EFEFEF;
}
button{
  cursor: pointer;
  
}
.shop-main{
  padding-top: 120px;
  max-width:1200px;
  margin: auto;
  .title{
    width:100%;
    margin: 0;
    padding: 15px 5px;
    //border: 1px solid red;
    
    
  }
  .shop-block{
    width: 100%;
    display: flex;
    .pro-total-block{
      width: calc(100% - 300px);
      
      //border: 1px solid blue;
      .pro-total-title{
        
        width: 100%;
        height: 80px;
        //border: 1px solid black;
        display: flex;
        
        .pro-title{
          width: 60%;
          height: 100%;
          background-color: #292929;
          color: #EFEFEF;
          display: flex;
        align-items: center;
        justify-content: center;
        }
        .mem-title{
          width:  20%;
          height: 100%;
          background-color: #292929;
          color: #EFEFEF;
          display: flex;
        align-items: center;
        justify-content: center;
        }
        .price-title{
          width: 20%;
          height: 100%;
          background-color: #292929;
          color: #EFEFEF;
          display: flex;
          align-items: center;
          justify-content: center;
          
        
        }

      }
      .cart-card{
        height: 150px;
        width: 100%;
        border-bottom: 1px solid #bbbbbb;
        display: flex;
        
        .cart-pro-pic{
          width: 20%;
          height: 100%;
          // background-color: rgb(252, 210, 133);
          display: flex;
          align-items: center;
          justify-content: center;
          .cart-pic-img{
            height: 85%;
            width: 85%;
            position: relative;
            overflow: hidden;
            img{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

        }
        .rwd-pro-del{
          width: 60%;
          height: 100%;
          display: flex;
          .cart-pro-del{
            width: 67%;
            height: 100%;
            // background-color: rgb(204, 184, 236);
            .cart-name{
              height: 50%;
              width: 100%;
              // border: 1px solid white;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .cart-del{
              height: 50%;
              width: 100%;
              // border: 1px solid rgb(182, 131, 131);
              display: flex;
              align-items: center;
              justify-content: center;
                button{
                  max-width: 150px;
                  width: 60%;
                  height: 35%;
                }

            }
          }
          .cart-mem{
            width:  33%;
            height: 100%;
            // background-color: rgb(241, 193, 176);
            display: flex;
              align-items: center;
              justify-content: center;
              input{
                width: 60%;
                max-width: 80px;
                height: 25px;
              }
  
          }
        }
        
        .cart-price{
          width:  20%;
          height: 100%;
          // background-color: rgb(203, 229, 194);
          display: flex;
          align-items: center;
          justify-content: center;

        }
      }
      .cart-total-price{
        height: 100px;
        width: 100%;
        //border: 1px solid black;
        display: flex;
        justify-content: space-between;
        .cart-total-tit{
          width: 20%;
          height: 100%;
          //border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          
        }
        .cart-total-mem{
          width: 20%;
          height: 100%;
          //border: 1px solid black;
          display: flex;
          align-items: center;
          justify-content: center;
          

        }
      }
    }
    .check{
      width: 300px;
      height: 300px;
      //border: 1px solid green;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
      button{
        font-size: 25px;
        width: 75%;
        height: 20%;
        margin-bottom: 30px;
        a{
          outline: none;
          border: none;
          text-decoration:none;
          color:black;
          display: block;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;


          
        }
        &:first-child{
          background-color: #883030;
          border: none;
          color: white;
          transition: 0.5s;
          outline: none;
          border: none;
        }
        &:first-child:hover{
          background-color: #C2AA6C;
          
        }
        
      }
    }
  }
  
}
body{
@media all and(max-width: 991px){
  .shop-main{
    width: 80%;
    .shop-block{
      flex-direction: column-reverse;
      .pro-total-block{
        width: 100%;
        .pro-total-title{
          .pro-title{
            width: 80%;
          }
          .mem-title{
            display: none;
          }
        }
        .cart-card{
          .rwd-pro-del{
            flex-direction: column;
            .cart-pro-del{
              width: 100%;
              height: 67%;

            }
            .cart-mem{
              width: 100%;
              height: 33%;
            }
          }
        }
      }
      
      .check{
        width: 100%;
      }
  
    }

  }
  
}

}
@media (max-width: 767px){
body .shop-main {
    width: 100%;
    padding: 15px;
    padding-top: 120px;
    
}
}

// 輸入地址燈箱

.address-box-back{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  
}
.address-box{
  border: 1px solid rgba(225, 208, 161, 0.5);
  min-width: 350px;
  min-height: 150px;
  width: 30vw;
  height: 15vw;
  background-color: #fff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1c1c1c;
  

}
.address-box h2{
  color: #efefef;
  margin-bottom: 15px;
}
.adress-input{
  width: 80%;
  height: 30px;
  margin-bottom: 15px;
  font-size: 20px;
  padding: 15px;
}
.address-confirm{
  width: 150px;
  height: 50px;
  border: 1px solid #E1D0A1;
  background-color: transparent;
  color: #E1D0A1;
  
  outline: none;
}
.turn-off-box{
  position: absolute;
  top:0;
  right: 0;
}