@import './app/_header.scss'; 

body{
    box-sizing: border-box;
    background-color: #292929;
    padding: 0;
    margin: 0;
}



.vTH{
    text-align: center;
   
    .vTH1{
   
        color: #efefef;
        display: inline-block;
        font-weight: 800;
        font-size: 4.5rem;
        letter-spacing: .25rem;
    }
    .vTH2{
    
        display: inline-block;
        font-weight: 800;
        font-size: 4.5rem;
        -webkit-text-stroke: 1px #dadada;
        color: transparent;
        letter-spacing: .25rem;
    }
}

.vTHA{
    text-align: center;
    .vTH3{
    
        display: inline-block;
        font-weight: 800;
        font-size:10rem;
        -webkit-text-stroke: 1px #dadada;
        color: transparent;
        letter-spacing: .25rem;
        margin: 0;
    }
    .vTH4{
   
        color: #efefef;
        display: inline-block;
        font-weight: 800;
        font-size: 4.5rem;
        letter-spacing: .25rem;
        margin-bottom: 0;
    }

}

.Bgi{
    position: absolute;
    width: 40%;
    left: 5%;
    background-color: transparent;
   img{
    position: absolute;
       font-size: 0;
       width: 100%;
       left:10;
       z-index: 0;
   }

}
.top3{
    background-color: transparent;
    // border: 1px solid red;
    display: flex;
    width: 100%;
    .box{
        background-color: transparent;
        width: 50%;
    }
    .top{
        position: relative;
        background-color: transparent;
        display: flex;
        width: 50%;
        justify-content: space-around;;
        align-items: flex-end;
        .no2{
            margin: 0 auto;
            text-align: center;
            img{
                width: 80%;
                height: auto;
                max-width: 100%;
                max-height: 100%; 
            }
        }
  
            
        .no1{
                text-align: center;
                img{
                width: 100%;
                        
                }

     
        }
        .no3{
            text-align: center;
            img{
                width: 60%;
                height: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .invote{
            position: absolute;
            width: 80%;
            bottom: -5%;
            right: 10%;
    
            > button{
                position: absolute;
                width: 50%;
                transform: translateX(-50%);
                left: 50%;
            }
        }
    }

}

.btn1-1{
    font-size: 16px;
    color: white;
    background-color: #883030;
    border: 1px solid #883030;
    padding: 10px 15px;
    outline: none;
    &:hover{
        background-color: #AE5F5F;
        border: 1px solid #AE5F5F;
        box-shadow: 0px 0px 25px rgb(184, 60, 60);
        transition: background-color 0.5s , border 0.5s;
        cursor: pointer;
    }
}
.no{
    color: #efefef;
    font-size: 1.5rem;
    font-weight: 200;
}

.tno{
    color: #efefef;
    font-size: 1.5rem;
    font-weight: 400;
}

.sno1{
    color: #efefef;
    font-size: 1.7rem;
    font-weight: 200;
}

.tno1{
    color: #efefef;
    font-size: 1.7rem;
    font-weight: 400;
}
.Vcocant{
    text-align: center;
    img{

        width: 40%;
    }
}
.showCards{
    display: flex;
    flex-direction: column;
    position: relative;
   
    .showCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px;
 
    }

}
.postCardShow{
            width: 421PX;
            margin: 50px 16px;
            .flip-card {
                background-color: transparent;
                width: 100%;
                height: 488px;
                perspective: 1000px;
                .flip-card-inner {
                    position: relative;
                    width: 100%;
                    height: 488px;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                    // .flip-card-front, .flip-card-back {
                    //     position: absolute;
                    //     width: 100%;
                    //     height: 341px;
                    //     -webkit-backface-visibility: hidden;
                    //     backface-visibility: hidden;
                    // }
                    .flip-card-front {
                        position: absolute;
                        width: 100%;
                        height: 488px;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        background-color: #bbb;
                        color: black;
                        img{
                            width: 100%;
                            height: 488px;
                        }
                    }
                    
                    .flip-card-back {
                        position: absolute;
                        width: 421px;
                        height: 488px;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        // background-color: #989898;
                        background-image: url("../image/postcard-frame.png");
                        background-size: cover;
                        color: #282828;
                        transform: rotateY(180deg);
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        h1{
                            margin: 10px;
                        }
                        p{
                            text-align: justify;
                            padding: 20px;
                            margin: 0px 5%;
                            line-height: 35px;
                        }
                    }
                    
                }
                &:hover{
                    .flip-card-inner {
                        transform: rotateY(180deg);
                    }
                }
            }
            
}
  

//燈箱
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  
  }
  
  .modal-content {
            background-color: #efefef;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #989898;
            width:350px; /* Could be more or less, depending on screen size */
            .container{
                width: 100%;
                height: 560px;
                    h1{
                        text-align: center;
                    }
                .showImg{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    width: 100%;
                    height: auto;
                    img{
                        width: 70%;
                        // height: auto;
                    }
                    .imgContext{
                        h2{
                            text-align: center;
                        }
                        textarea{
                            width: 100%;
                            height: 70%;
                        }

                    }

                }
            }
    }

    .modal2 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 99; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        padding-top: 60px;
        .modal-content2 {
            background-color: #efefef;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #989898;
            width: 350px; /* Could be more or less, depending on screen size */
        
            .container {
                position: relative;
                padding: 16px;
                height: 30vh;
                z-index: 1;
                background-color: #292929;
                h1 {
                    color: #efefef;
                    margin: 10px;
                }
                p {
                    color: #efefef;
                    margin: 20px 10px 20px 10px;
                    text-align: center;
                }
                > div {
                    text-align: center;
                    .btn2-1 {
                        margin: 10px;
                        outline: none;
                        position: relative;
                        font-size: 16px;
                        color: #626262;
                        background: transparent;
                        border: 1px solid #626262;
                        padding: 10px 15px;
                        z-index: 20;
                        &:hover {
                            //:hover:after才對
                            color: #efefef;
                            cursor: pointer;
                            &:after {
                                background-color: #626262;
                                border: 1px solid #626262;
                                width: 99%;
                                -webkit-transition: width 0.5s;
                                transition: width 0.5s;
                            }
                        }
                        &:after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            z-index: -1;
                            background-color: #626262;
                            width: 0%;
                            height: 100%;
                        }
                    }
            
                    .btn3-1 {
                        outline: none;
                        margin: 10px;
                        position: relative;
                        font-size: 16px;
                        color: #883030;
                        background: transparent;
                        border: 1px solid #883030;
                        padding: 10px 15px;
                        z-index: 20;
                        &:hover {
                            //:hover:after才對
                            color: #efefef;
                            cursor: pointer;
                            &:after {
                                background-color: #883030;
                                border: 1px solid #883030;
                                width: 99%;
                                -webkit-transition: width 0.5s;
                                transition: width 0.5s;
                            }
                        }
                        &:after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            z-index: -1;
                            background-color: #883030;
                            width: 0%;
                            height: 100%;
                        }
                    }
                }
            }
            
        }
    
    }
    


    .modal3 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 99; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
        padding-top: 60px;
        .modal-content3 {
            background-color: #efefef;
            margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #989898;
            width: 350px; /* Could be more or less, depending on screen size */
        
            .container {
                position: relative;
                padding: 16px;
                height: 30vh;
                z-index: 1;
                background-color: #292929;
                h1 {
                    color: #efefef;
                    margin: 10px;
                }
                p {
                    color: #efefef;
                    margin: 20px 10px 20px 10px;
                    text-align: center;
                }
                > div {
                    text-align: center;
                    .btn3-1 {
                        outline: none;
                        margin: 10px;
                        position: relative;
                        font-size: 16px;
                        color: #883030;
                        background: transparent;
                        border: 1px solid #883030;
                        padding: 10px 15px;
                        z-index: 20;
                        &:hover {
                            //:hover:after才對
                            color: #efefef;
                            cursor: pointer;
                            &:after {
                                background-color: #883030;
                                border: 1px solid #883030;
                                width: 99%;
                                -webkit-transition: width 0.5s;
                                transition: width 0.5s;
                            }
                        }
                        &:after {
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            z-index: -1;
                            background-color: #883030;
                            width: 0%;
                            height: 100%;
                        }
                    }
                }
            }
            
        }
    
    }
    


  /* Add Zoom Animation */
  .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
      from {-webkit-transform: scale(0)} 
      to {-webkit-transform: scale(1)}
    }
      
    @keyframes animatezoom {
      from {transform: scale(0)} 
      to {transform: scale(1)}
    }
  

    .btn2-1 {
        margin: 10px;
        outline: none;
        position: relative;
        font-size: 16px;
        color: #626262;
        background: transparent;
        border: 1px solid #626262;
        padding: 10px 15px;
        z-index: 20;
        &:hover{//:hover:after才對
            color: #efefef;
            &:after{
                background-color: #626262;
                border: 1px solid #626262;
                width: 99%;
                -webkit-transition: width 0.5s;
                transition: width 0.5s;
            }
        }
        &:after{
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            z-index: -1;
            background-color: #626262;
            width: 0%;
            height: 100%;

        }
    }

.btn3-1{
    outline: none;
    margin: 10px;
    position: relative;
    font-size: 16px;
    color: #883030;
    background: transparent;
    border: 1px solid #883030;
    padding: 10px 15px;
    z-index: 20;
    &:hover{//:hover:after才對
        color: #efefef;
        cursor: pointer;
        &:after{
            background-color: #883030;
            border: 1px solid #883030;
            width: 99%;
            -webkit-transition: width 0.5s;
            transition: width 0.5s;
        }
    }
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        z-index: -1;
        background-color: #883030;
        width: 0%;
        height: 100%;

    }
}


.margincenter{
    margin: 0 auto;
}

    @media screen   and (max-width: 1200px){
        .postCardShow{
            width: 300px;
            height: 388px;
            margin: 5%;
            .flip-card{
                height: 388px;

                .flip-card-inner{
                    height: 388px;
                    .flip-card-front{
                
                        height: 388px;
                        img{
                            width: 100%;
                            height: 388px;
                        }
                        
                    } 
                    .flip-card-back {
                        background-image: url("../image/postcard-frame2.png");
                        width: 300px;
                        height: 388px;
                        p{
                      
                  
                     
                            padding: 0 20px;
                             margin: 0 ;
                            line-height: 22px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
 
    }
    @media screen and (max-width: 992px){
        .vTH{
            .vTH1{
                font-size: 2rem;
            }
          
            .vTH2{
                font-size: 2rem;
            }
    
        }

                
        .vTHA{
            text-align: center;
            .vTH3{      
                font-size:4rem;
      }
            .vTH4{
                font-size: 2.5rem;

            }

        }

        .Bgi{
            img{
                width: 80%;
            }
        }
        .no{
            color: #efefef;
            font-size: 1rem;
            font-weight: 200;
        }
        
        .tno{
            color: #efefef;
            font-size: 1rem;
            font-weight: 400;
        }
        
        .sno1{
            color: #efefef;
            font-size: 1.2rem;
            font-weight: 200;
        }
        
        .tno1{
            color: #efefef;
            font-size: 1.2rem;
            font-weight: 400;
        }
        .Vcocant{
            text-align: center;
            img{
        
                width: 40%;
            }
        }
        

    }
    @media screen and (max-width: 867px){
        .postCardShow{
            width: 300px;
            height: 388px;
            margin: 10px 0 10px 0;
        }
        
    }
    
    @media screen and (max-width: 720px){
   
        .top3{
            .top{
                .invote{
                    > button{
                         width: 80%;
                     }
                 }
         
            }
        }
        .showCards {
            .showCard{
                justify-content: center;
            }
        }

    }
    @media screen and (max-width: 375px){
        .Bgi{
            display: none;
        }
        .top3{
            .box{
                display: none;
            }
            .top{
                margin: 0 auto;
                .invote{
                    > button{
                         width: 100%;
                     }
                 }
         
            }
        }


    }
