@import 'inmix/breakpoint';
@import 'inmix/varColor';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//responsive font-size mixin
@mixin rwd-font($pc, $lpad, $mpad, $spad, $lphone, $sphone) {

    //電腦版
    @include pc{
        font-size: $pc !important;
    }

    //平板
    @include l-pad{
        font-size: $lpad !important;
    }
    @include m-pad{
        font-size: $mpad !important;
    }
    @include s-pad{
        font-size: $spad !important;
    }

    //手機
    @include l-phone{
        font-size: $lphone !important;
    }
    @include s-phone{
        font-size: $sphone !important;
    }
}

//rwd font class
.xxlfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(40px, 35px, 35px, 30px, 20px, 18px);
}

.xlfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(35px, 30px, 30px, 25px, 18px, 16px);
}

.lfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(30px, 25px, 25px, 20px, 16px, 14px);
}

.mfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(25px, 20px, 20px, 16px, 14px, 12px);
}

.sfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(20px, 18px, 16px, 16px, 14px, 12px);
}

.xsfont{
    //＠include rwd-font(1200, 1024, 996, 768, 576, 400)   帶入6個font的值
    @include rwd-font(18px, 16px, 14px, 14px, 12px, 10px);
}

.xxlfont,
.xlfont,
.lfont,
.mfont,
.sfont,
.xsfont{
    letter-spacing: 1px;
    word-spacing: 3px;
}


//font-style mixin
$notoSerif: 'Noto Serif TC', serif;
$notoSans: 'Noto Sans TC', sans-serif;
$CG:'Cormorant Garamond', serif;
$default-color:$white;
$default-fweight:400;

@mixin font-style($fs:20px, $ff:$notoSerif, $color:$default-color, $fw:$default-fweight){
    font-size: $fs;
    font-family: $ff;
    color:$color;
    font-weight: $fw;
    letter-spacing: 1px;
    word-spacing: 3px;
    @content;
}